<div class="wrapper">
  <div class="treasure col-12 col-lg-6 col-xl-3 col-uhd-2 offset-uhd-2" *ngFor="let treasure of treasures">
    <div class="treasure-name" data-toggle="modal" data-target="#treasure-info">{{treasure.name}}</div>
    <div class="treasure-info-button" (click)="openInfo(treasure_info, treasure.id)">
      <i class="inventory-item-help material-icons">
        help_outline
      </i>
    </div>
    <div class="treasure-image"><img src="{{treasure.image}}"></div>

    <div class="treasure-resources">
      <div class="treasure-resource" *ngFor="let res of treasure.resources">
        <img class="treasure-resource-image" title="{{res.item.name + ' х ' + res.value }}" src="{{res.item.image}}">
        <label class="treasure-resource-count">x{{res.value}}</label>
      </div>
    </div>
    <div class="treasure-open-buttons">
      <input class="btn btn-dark" type="button" value="1 раз" (click)="openLoot(treasure_drop, treasure.id)">
      <input class="btn btn-dark" type="button" value="10 раз" (click)="openLoot(treasure_drop, treasure.id, 10)">
    </div>
  </div>
</div>
<ng-template #treasure_drop let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Получены предметы</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="loot-item-card text-center col-6 col-lg-2" *ngFor="let drop of treasureDrop" >
      <div class="loot-item">
        <div class="loot-item-image">
          <img src="{{drop.item.image}}" title="{{drop.item.name}}">
        </div>
        <span class="loot-item-count">{{drop.count}}</span>
        <div class="loot-item-name d-none">{{drop.item.name}}</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark text-white" (click)="c()">Закрыть</button>
  </div>
</ng-template>

<ng-template #treasure_info let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Информация о шансах выпадения предметов из "{{treasureInfo.name}}"</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-white text-left">
    <table class="table container">
      <thead>
      <tr class="row">
        <th scope="col" class="col-3">Изображение</th>
        <th scope="col" class="col-3">Название</th>
        <th scope="col" class="col-3" title="Раз в сколько открытий сундука может выпасть данный предмет">Частота
        </th>
        <th scope="col" class="col-3">Шанс</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row" *ngFor="let info of treasureInfo.lootInfo">
        <td class="col-3"><img class="col-12" src="{{info.item.image}}"></td>
        <td class="col-3">{{info.item.name}} х{{info.count}}</td>
        <td class="col-3">{{info.frequency}}</td>
        <td class="col-3">{{info.chance}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark text-white" (click)="c()">Закрыть</button>
  </div>
</ng-template>
