.wrapper {
  padding-bottom: 100pt;
}

.treasure {
  display: inline-grid;
  height: 320pt;
  padding: 8pt;
  border: 1pt solid red;
  text-align: center;
  color: #A6997C;
  background: #343a4059;
  border-radius: 8pt;

  & .treasure-name {
    padding: 0 8pt;
    font-size: 18pt;
  }

  & .treasure-image img {
  }

  & .treasure-info-button {
    position: absolute;
    right: 5pt;
    top: 5pt;
  }

  & .treasure-resources {
    border: 1pt solid;
    color: #A6997C;
    background: #343a4059;
    border-radius: 6pt;
    padding: 8pt 8pt 0;
    width: fit-content;
    margin: 0 auto 10pt;

    & .treasure-resource {
      display: inline-block;
      padding: 4pt;

      & .treasure-resource-image {
        max-width: 35pt;
      }

      & .treasure-resource-count {
        padding-left: 5pt;
      }
    }
  }

  & .treasure-open-buttons .btn.btn-dark {
    background-color: #860606;
    border-color: #A6997C;
    color: white;
    margin: 0 5pt;
  }
}


.loot-item-card {
  border: 1pt solid gray;
  /*width: 160pt;*/
  height: 230pt;
  background: #343a40b0;
  border-radius: 6pt;
  display: inline-block;
  margin: 6pt;

  & .loot-item {
    position: relative;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 100pt;
    color: #A6997C;
  }

  & .loot-item-image {
    position: relative;
    height: 100pt;

    & img {
      max-width: 100pt;
      max-height: 100pt;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  & .loot-item-name {
    position: absolute;
  }
}


