@import "../../user/profile/inventory/inventory.component.scss";

.wrapper {
  background-color: #343a40;
  -webkit-border-radius: 6pt;
  -moz-border-radius: 6pt;
  border-radius: 6pt;
  color: #ffffff80;
  margin-bottom: 100pt;
  padding-bottom: 1pt;
}

.online-status {
  width: 20pt;
  height: 20pt;
  background: #268226;
  margin-right: 10pt;
  border-radius: 12pt;
  color: #26822682;
}

.online-status.yellow {
  background: #d6d343;
  color: #d6d343b0;
}

.online-status.gray {
  background: #929286;
  color: #929286;
}

.wrapper table .material-icons {
  padding: 2pt;
}

.wrapper table tr:first-child th .material-icons {
  padding: 0;
  top: 5pt;
  position: relative;
}

.custom-control-label {
  top: -7pt;
  left: 12pt;
}

#addItemBox .modal-dialog.modal-dialog-centered {
  max-width: 40%;
}

.modal-dialog.modal-dialog-centered {
  max-width: 60%;
}

.list-group li{
  background: #757575;
}

#addItem .inventory-table {
  max-height: 300pt;
  overflow-y: scroll;
  overflow-x: hidden;
}

.short-tb {
  width: 40%;
  display: inline-table;
  margin-left: 5pt;
}

.modal-body {
  text-align: left;
}

.message-text {
  resize: none;
  width: 100%;
  height: 150pt;
  -webkit-border-radius: 3pt;
  -moz-border-radius: 3pt;
  border-radius: 3pt;
  background: #757575;
}

table {
  & tr.pointer th {
    cursor: pointer;
  }
}

.inventory-table .inventory-row .inventory-cell {
  & .inventory-item-help {
    top: 3pt;
    right: 3pt;
  }

  & .inventory-item-remove {
    padding: 2pt;
  }

  & .inventory-item-count {
    color: #A6997C;
    font-size: 20pt;
  }

  & .inventory-item-image {
    & img {
      max-height: 100pt;
      max-width: 100pt;
      width: inherit;
    }
  }
}