<div class="wrapper">
  <div class="tab-pane pt-4">
    <h3 class="ml-1">Пользователи системы</h3>
    <hr />
    <div class="col-12">
      <div class="form-group">
        <input type="button" class="inline-lock col-2 mr-1 btn btn-secondary " data-toggle="modal"
          data-target="#messages" value="Рассылка" (click)="getItemList()"
          title="Открытие окна рассылки писем выделенной(чекбоксы) группе пользователей или всем (если не отмечен ни один пользователь)">
        <input type="button" class="inline-lock col-3 mr-1 btn btn-secondary" value="Начислить золото"
          data-toggle="modal" data-target="#giveGold"
          title="Открытие окна начисления золота выделенной группе пользователей или всем (если не отмечен ни один пользователь)">
        <input type="button" class="inline-lock col-3 mr-1 btn btn-secondary" value="Заблокировать" data-toggle="modal"
          data-target="#lock" title="Заблокировать выделенную группу пользователей">
        <input type="button" class="inline-lock col-3 mr-1 btn btn-secondary" value="Разблокировать" data-toggle="modal"
          data-target="#unlock" title="Разблокировать выделенную группу пользователей">
      </div>
    </div>
    <table class="table">
      <thead>
        <tr class="pointer">
          <th scope="col">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="sss"
                (change)="setAllChecks($event.target.checked)">
              <label class="custom-control-label" for="sss"></label>
            </div>
          </th>
          <th scope="col" (click)="sort('name', users.filter.nameSort)"><i class="material-icons">
              {{users.filter.nameSort === 0 ? 'unfold_more' : (users.filter.nameSort === -1 ? 'expand_more' :
          'expand_less')}}
            </i>Имя
          </th>
          <th scope="col" (click)="sort('lvl', users.filter.lvlSort)"><i class="material-icons">
              {{users.filter.lvlSort === 0 ? 'unfold_more' : (users.filter.lvlSort === -1 ? 'expand_more' : 'expand_less')}}
            </i>Уровень
          </th>
          <th scope="col" (click)="sort('email', users.filter.emailSort)"><i class="material-icons">
              {{users.filter.emailSort === 0 ? 'unfold_more' : (users.filter.emailSort === -1 ? 'expand_more' :
          'expand_less')}}
            </i>Почта
          </th>
          <th scope="col" (click)="sort('regDate', users.filter.regDateSort)"><i class="material-icons">
              {{users.filter.regDateSort === 0 ? 'unfold_more' : (users.filter.regDateSort === -1 ? 'expand_more' :
          'expand_less')}}
            </i>Дата
            регистрации
          </th>
          <th scope="col" (click)="sort('lastActivity', users.filter.lastActivitySort)"><i class="material-icons">
              {{users.filter.lastActivitySort === 0 ? 'unfold_more' : (users.filter.lastActivitySort === -1 ? 'expand_more'
          : 'expand_less')}}
            </i>Статус
          </th>
          <th scope="col">Действия</th>
        </tr>
        <tr>
          <th scope="col">
            <button class="btn btn-secondary" (click)="resetFilter()" title="Обновить таблицу и сбросить фильтры">
              <i class="material-icons">
                refresh
              </i>
            </button>
          </th>
          <th scope="col"><input type="text" class="form-control" placeholder="Поиск по имени..."
              [(ngModel)]="users.filter.name"></th>
          <th scope="col">
            <input type="number" class="form-control short-tb" placeholder="От" [(ngModel)]="users.filter.fromLvl">
            <input type="number" class="form-control short-tb" placeholder="До" [(ngModel)]="users.filter.toLvl">
          </th>
          <th scope="col"><input type="text" class="form-control" placeholder="Поиск по почте..."
              [(ngModel)]="users.filter.email"></th>
          <th scope="col">
            <input type="text" class="datepicker form-control short-tb fromDate" placeholder="С даты..."
              [(ngModel)]="users.filter.fromRegDate">
            <input type="text" class="datepicker form-control short-tb toDate" placeholder="По дату..."
              [(ngModel)]="users.filter.toRegDate">
          </th>
          <th scope="col">
            <select class="form-control" [(ngModel)]="users.filter.status">
              <option value="-1">Все</option>
              <option value="0">В сети</option>
              <option value="1">Недавно был в сети</option>
              <option value="2">Не в сети</option>
              <option value="3">Заблокирован</option>
            </select>
          </th>
          <th scope="col">
            <button class="btn btn-secondary" title="Поиск по выбранным фильтрам" (click)="filterUsers()">
              <i class="material-icons">
                search
              </i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users.users; index as i">
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="{{'userChb' + i}}" [(ngModel)]="user.isChecked">
              <label class="custom-control-label" for="{{'userChb' + i}}"></label>
            </div>
          </th>
          <td>{{user.name}}</td>
          <td>{{user.lvl}}</td>
          <td>{{user.email}}</td>
          <td>{{user.regDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
          <td><span class="online-status {{user.onlineIndicatorClass}}">dw</span>{{user.onlineStatusText}}</td>
          <td>
            <button class="btn btn-secondary mb-2" data-toggle="modal"
              [attr.data-target]="(user.isLocked ? '#unlock-single' : '#lock-single')" (click)="selectUser(user)"><i
                class="material-icons">{{(user.isLocked ? 'lock_open' : 'lock')}}</i>
            </button>
            <button class="btn btn-secondary mb-2" data-toggle="modal" data-target="#giveGold-single"
              (click)="selectUser(user)" title="Начислить пользователю валюту золото"><i
                class="material-icons">payment</i>
            </button>
            <button class="btn btn-secondary mb-2" data-toggle="modal" data-target="#message" (click)="getItemList()"
              (click)="selectUser(user)"><i class="material-icons">mail</i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button class="btn m-2 btn-outline-secondary" (click)="prev()">
        <<</button> <button class="btn m-2 btn-outline-secondary" *ngFor="let num of numberButtons"
          ngClass="{{num.cls}}" (click)="goToPage(num.value)">{{num.value}}
      </button>

      <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
    </div>
  </div>
</div>

<div class="modal fade" id="messages">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Рассылка</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            <h3>Сообщение</h3>
          </div>
          <div class="form-group">
            <label>От кого:</label>
            <select class="form-control" [(ngModel)]="mail.fromId">
              <option *ngFor="let from of mailFromArray" [value]="from.fromId">{{from.fromName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Тема:</label>
            <input type="text" class="form-control" placeholder="Введите тему" value="Поздравления"
              [(ngModel)]="mail.theme">
          </div>
          <div class="form-group">
            <label>Кому:</label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let user of getCheckedUsers()">{{user.name}}
                <button class="btn btn-secondary text-white float-right" (click)="user.isChecked = !user.isChecked"><i
                    class="material-icons">delete</i></button>
              </li>
            </ul>
          </div>
          <div class="form-group">
            <textarea class="message-text" [(ngModel)]="mail.message"></textarea>
          </div>
          <div class="pt-4">
            <div class="inventory-table">
              <div class="inventory-row row">
                <div class="inventory-cell col-12 col-md-6 col-xl-2" *ngFor="let item of mail.items">
                  <i type="button" (click)="removeItemFromMailAttach(item)"
                    class="btn btn-secondary inventory-item-help inventory-item-remove material-icons">delete
                  </i>
                  <i class="inventory-item-help material-icons d-none">
                    delete
                  </i>
                  <div class="inventory-item-image">
                    <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                  </div>
                  <span class="inventory-item-count">{{item.displayCount}}</span>
                </div>
                <div class="inventory-cell col-12 col-md-6 col-xl-2" data-toggle="modal" data-target="#addItem"
                  *ngFor="let empty of mail.emptyItems">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="sendMessages()">Отправить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="message">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Сообщение</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            <label for="from">От кого:</label>
            <select class="form-control" id="from" [(ngModel)]="mail.fromId">
              <option *ngFor="let from of mailFromArray" [value]="from.fromId">{{from.fromName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="theme">Тема:</label>
            <input type="text" class="form-control" id="theme" placeholder="Введите тему" value="Поздравления"
              [(ngModel)]="mail.theme">
          </div>
          <div class="form-group">
            <label>Кому:</label>
            <ul class="list-group">
              <li class="list-group-item">{{selectedUser.name}}</li>
            </ul>
          </div>
          <div class="form-group">
            <textarea class="message-text" [(ngModel)]="mail.message">{{mail.message}}</textarea>
          </div>
          <div class="pt-4">
            <div class="inventory-table">
              <div class="inventory-row row">
                <div class="inventory-cell col-12 col-md-6 col-xl-2" data-toggle="modal" data-target="#addItem"
                  *ngFor="let item of mail.items">
                  <i class="inventory-item-help material-icons d-none">
                    help_outline
                  </i>
                  <div class="inventory-item">
                    <div class="inventory-item-image">
                      <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                    </div>
                  </div>
                  <span class="inventory-item-count">{{item.displayCount}}</span>
                </div>
                <div class="inventory-cell col-12 col-md-6 col-xl-2" data-toggle="modal" data-target="#addItem"
                  *ngFor="let empty of mail.emptyItems">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="sendMessage()">Отправить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addItem">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Доступные предметы</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="pt-4">
            <div class="inventory-table">
              <div class="inventory-row row container-fluid">
                <div class="inventory-cell col-12 col-md-6 col-xl-2" data-toggle="modal" data-target="#addItemBox"
                  *ngFor="let item of itemCollection.items" (click)="selectItemInCollection(item.item)">
                  <i class="inventory-item-help material-icons d-none">
                    help_outline
                  </i>
                  <div class="inventory-item main">
                    <div class="inventory-item-image">
                      <img src="{{item.item.image}}" class="" title="{{item.item.name}}">
                    </div>
                  </div>
                  <span class="inventory-item-count"></span>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="btn m-2 btn-outline-secondary" (click)="prev()">
                <<</button> <button class="btn m-2 btn-outline-secondary"
                  *ngFor="let num of itemCollectionNumberButtons" ngClass="{{num.cls}}" (click)="goToPage(num.value)">
                  {{num.value}}
              </button>

              <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addItemBox">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Добавление предмета {{selectedItem.item.name}} во вложение сообщения</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label>Количество</label>
          <input type="number" class="form-control" value="{{selectedItem.count}}" [(ngModel)]="selectedItem.count"
            autofocus>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addItemToMailAttach()">
          Добавить
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="giveGold-single">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Начисление золота</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            <label>Кому:</label>
            <ul class="list-group">
              <li class="list-group-item">{{selectedUser.name}}</li>
            </ul>
          </div>
          <div class="form-group">
            <label>Количество золота</label>
            <input type="number" class="form-control short-tb" value="0" [(ngModel)]="addGoldValue">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addGoldToUser()">Начислить
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="giveGold">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Начисление золота</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            <label>Кому:</label>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let user of getCheckedUsers()">{{user.name}}
                <button class="btn btn-secondary text-white float-right" (click)="user.isChecked = !user.isChecked"><i
                    class="material-icons">delete</i></button>
              </li>
            </ul>
          </div>
          <div class="form-group">
            <label>Количество золота</label>
            <input type="number" class="form-control short-tb" value="0" [(ngModel)]="addGoldValue">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addGoldToUsers()">Начислить
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lock">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Заблокировать пользователей</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let user of getCheckedUsers()">{{user.name}}
                <button class="btn btn-secondary text-white float-right" (click)="user.isChecked = !user.isChecked"><i
                    class="material-icons">delete</i></button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" [disabled]="!getCheckedUsers().length" data-dismiss="modal"
          (click)="lockUsers()">Заблокировать
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unlock">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Разблокировать пользователей</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let user of getCheckedUsers()">{{user.name}}
                <button class="btn btn-secondary text-white float-right" [disabled]="!getCheckedUsers().length"><i
                    class="material-icons">delete</i></button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="unLockUsers()"
          [disabled]="!getCheckedUsers().length">Разблокировать
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lock-single">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Заблокировать пользователя</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            <ul class="list-group">
              <li class="list-group-item">{{selectedUser.name}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="lockUser()">Заблокировать
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unlock-single">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Разблокировать пользователя</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            <ul class="list-group">
              <li class="list-group-item">{{selectedUser.name}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="unLockUser()">Разблокировать
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>