.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.user-avatar {
  margin: 0 8pt;
  border: 2pt solid #4e5c83;
  width: fit-content;
  height: fit-content;
  & img {
    max-height: 100pt;
    max-width: 100pt;
  }
}
