<h3 class="pl-3">Информация о пользователе</h3>

<div class="inline-block form-group col-12">
  <div class="form-group">
    <label><b>Уровень:</b> {{userInfo.level}}</label>
  </div>
  <div class="form-group">
    <label><b>Опыт:</b> {{userInfo.xp | number}} из {{userInfo.nextXp | number}}</label>
  </div>
  <div class="form-group">
    <label for="nick">Ник:</label>
    <input type="text" class="form-control" id="nick" placeholder="Введите ник" value="{{userInfo.name}}" [(ngModel)]="userInfo.name">
  </div>
  <div class="form-group">
    <label for="avatar">Аватар:</label>
    <span class="ml-2 btn btn-secondary btn-file">
      Загрузить <input type="file" accept=".jpg,.png"  class="form-control" id="avatar" placeholder="Выберите изображение" (change)="onFileChange($event)" >
      <span class='label label-info' id="upload-file-info">{{userInfo.avatar_name}}</span>
    </span>
    <input type="text" class="mt-2 d-none form-control form-control-lg" placeholder="Введите путь к изображению на сервере..."
      [(ngModel)]="userInfo.avatarImage" name="avatar">
  </div>
  <div class="form-group">
    <label for="email">Почта:</label>
    <input type="text" class="form-control" id="email" placeholder="Введите почту"
           value="{{userInfo.email}}" [(ngModel)]="userInfo.email">
  </div>

  <div class="form-group">
    <label for="birthdate">Дата рождения:</label>
    <input class="datepicker form-control" id="birthdate" value="{{userInfo.birthday}}" [(ngModel)]="userInfo.birthday">
  </div>
  <br />
  <hr />

  <div class="form-group">
    <label for="cpwd">Текущий пароль:</label>
    <input type="password" class="form-control" id="cpwd" placeholder="Введите текущий пароль"
           value="" [(ngModel)]="userInfo.current_password">
  </div>
  <div class="form-group">
    <label for="pwd">Новый пароль:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Введите новый  пароль"
           value="" [(ngModel)]="userInfo.password">
  </div>
  <div class="form-group">
    <label for="apwd">Подтвердите новый пароль:</label>
    <input type="password" class="form-control" id="apwd" placeholder="Подтвердите новый пароль"
           value="" [(ngModel)]="userInfo.confirm_password">
  </div>

  <div class="form-group ">
    <button type="button" class="btn btn-secondary" (click)="saveInfo()">Сохранить</button>
  </div>
</div>

