<div class="container-fluid">
  <div class="tab-pane text-gray">
    <h3>Рейтинг</h3>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ник</th>
        <th scope="col">Уровень</th>
        <th scope="col" class="d-none d-sm-block">Текущий опыт</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rating.rating">
        <th scope="row">{{row.position}}</th>
        <td>{{row.nick}}</td>
        <td>{{row.level}}</td>
        <td class="d-none d-sm-block">{{row.currentXp}} из {{row.xpToLvl}}</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">

      <button class="btn m-2 btn-outline-secondary" (click)="prev()"><<</button>

      <button class="btn m-2 btn-outline-secondary"
              *ngFor="let num of numberButtons"
              ngClass="{{num.cls}}"
              (click)="goToPage(num.value)">{{num.value}}</button>

      <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
    </div>
  </div>
</div>
