<div class="wrapper text-gray">
  <ul class="nav nav-tabs pt-3">
    <li class=""><a data-toggle="tab" href="#in" class="nav-link active no-text-decor">Входящие</a></li>
    <li class=""><a data-toggle="tab" href="#out" class="nav-link no-text-decor">Исходящие</a></li>
  </ul>

  <div class="tab-content">
    <div id="in" class="tab-pane fade show in active container-fluid">
      <button class="btn btn-secondary new-mail-btn d-none d-xl-block mr-2" (click)="showNewMsgForm(sendMessage)">
        Написать сообщение
      </button>
      <button class="btn btn-secondary new-mail-btn d-block d-xl-none mr-2" (click)="showNewMsgForm(sendMessage)">
        <i class="material-icons">mail</i>
      </button>
      <h3 class="d-none d-sm-block">Входящие сообщения</h3>
      <h3 class="d-block d-sm-none">Входящие</h3>
      <div class="inline-table col-12 col-lg-5" *ngIf="currentIncomingMail">
        <hr />
        <div class="form-group">
          <h3>Сообщение</h3>
        </div>
        <div class="form-group">
          <label>От кого: {{currentIncomingMail.fromName}}</label>
        </div>
        <div class="form-group">
          <label>Тема: {{currentIncomingMail.theme}}</label>
        </div>
        <div class="form-group">
          <label>Время: {{currentIncomingMail.date | date:'dd.MM.yyyy HH:mm:ss'}}</label>
        </div>
        <div class="form-group">
          <textarea class="message-text" readonly>{{currentIncomingMail.message}}</textarea>
        </div>
        <div class="inventory-table col-lg-10 minify" >
          <div class="inventory-row row">
            <div class="inventory-cell col-lg-2 col-sm-3 col-4" *ngFor="let item of currentIncomingMail.items">
              <i class="inventory-item-help material-icons d-none">
                help_outline
              </i>
              <div class="inventory-item">
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
              </div>
              <span class="inventory-item-count">{{item.displayCount}}</span>
            </div>

            <div class="inventory-cell col-lg-2 col-sm-3 col-4" *ngFor="let item of currentIncomingMail.emptyItems">
            </div>

          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary mr-1 mt-1 col-12 col-lg-3"
            (click)="collectAttachment(currentIncomingMail.id)"
            [disabled]="currentIncomingMail.attachmentCollected">Собрать</button>
          <button class="btn btn-secondary mr-1 mt-1 col-12 col-lg-3" (click)="showNewMsgForm()"
            (click)="setNewMailTo(currentIncomingMail.fromId, currentIncomingMail.fromName)" 
            (click)="showNewMsgForm(sendMessage)">Ответить</button>
          <button class="btn btn-secondary mr-1 mt-1 col-12 col-lg-3"
            (click)="delMessage(0, currentIncomingMail.id)">Удалить</button>
          <button class="btn btn-secondary mr-1 mt-1 col-12 col-lg-3"
            (click)="currentIncomingMail = null">Закрыть</button>
        </div>

      </div>
      <div class="inline-table col-12 col-lg-6" [class.col-lg-6]="currentIncomingMail">
        <div class="col-12">
          <div class="form-group">
            <hr />
            <label class="inline-block col-12 col-sm-2">Фильтр: </label>
            <input type="text" class="inline-block form-control col-12 col-sm-9" placeholder="Введите тему или адресата"
              value="" [(ngModel)]="searchString">
            <hr />
            <input type="button" class="inline-block col-3 btn btn-secondary mr-1 col-12 col-sm-4 col-uhd-2"
              (click)="searchMails(0)" value="Фильтровать">
            <input type="button" class="inline-block col-3 btn btn-secondary col-12 col-sm-4 col-uhd-2"
              (click)="delManyMails(0)" value="Удалить">
            <hr />
          </div>
        </div>
        <table class="table mt-5">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="d-none d-sm-table-cell">Дата и время</th>
              <th scope="col">От кого</th>
              <th scope="col">Тема</th>
            </tr>
          </thead>
          <tbody>
            <tr class="" [class.selected]="currentIncomingMail && currentIncomingMail.id === mail.id"
              [class.not-readed]="incomingMails.mails.length && !incomingMails.mails[i].isReaded"
              *ngFor="let mail of incomingMails.mails; index as i" (click)="openMail(0, i)">
              <td>
                <div class="custom-control custom-checkbox" (click)="toggleCheckMail(0, i)">
                  <input type="checkbox" class="custom-control-input" id="{{'incomCheck' + i }}" >
                  <label class="custom-control-label" for="{{'incomCheck' + i }}" ></label>
                </div>
              </td>
              <td (click)="incomingMails.mails.length && !incomingMails.mails[i].isReaded && checkMail(0, i)" class="d-none d-sm-table-cell">{{mail.date | date:'dd.MM.yyyy HH:mm:ss'}}</td>
              <td (click)="incomingMails.mails.length && !incomingMails.mails[i].isReaded && checkMail(0, i)">{{mail.fromName}}</td>
              <td (click)="incomingMails.mails.length && !incomingMails.mails[i].isReaded && checkMail(0, i)">{{mail.theme}}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <button class="btn m-2 btn-outline-secondary" (click)="prev(0)">
            <<</button> <button class="btn m-2 btn-outline-secondary" *ngFor="let num of incomingNumberButtons"
              ngClass="{{num.cls}}" (click)="goToPage(0, num.value)">{{num.value}}
          </button>

          <button class="btn m-2 btn-outline-secondary" (click)="next(0)">>></button>
        </div>
      </div>
    </div>
    <div id="out" class="tab-pane container-fluid">
      <button class="btn btn-secondary new-mail-btn d-none d-xl-block mr-2" (click)="showNewMsgForm(sendMessage)">
        Написать сообщение
      </button>
      <button class="btn btn-secondary new-mail-btn d-block d-xl-none mr-2" (click)="showNewMsgForm(sendMessage)">
        <i class="material-icons">mail</i>
      </button>
      <h3 class="d-none d-sm-block">Исходящие сообщения</h3>
      <h3 class="d-block d-sm-none">Исходящие</h3>
      <div class="inline-table col-12 col-lg-5" *ngIf="currentOutgoingMail">
        <hr />
        <div class="form-group">
          <h3>Сообщение</h3>
        </div>
        <div class="form-group">
          <label>Кому: {{currentOutgoingMail.toName}}</label>
        </div>
        <div class="form-group">
          <label>Тема: {{currentOutgoingMail.theme}}</label>
        </div>
        <div class="form-group">
          <label>Время: {{currentOutgoingMail.date | date:'dd.MM.yyyy HH:mm:ss'}}</label>
        </div>
        <div class="form-group">
          <textarea class="message-text" readonly>{{currentOutgoingMail.message}}</textarea>
        </div>
        <div class="inventory-table col-lg-10 minify" *ngIf="isAdmin">
          <div class="inventory-row row">
            <div class="inventory-cell col-lg-2 col-sm-3 col-4" *ngFor="let item of currentOutgoingMail.items">
              <i class="inventory-item-help material-icons d-none">
                help_outline
              </i>
              <div class="inventory-item">
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
              </div>
              <span class="inventory-item-count">{{item.displayCount}}</span>
            </div>
        
            <div class="inventory-cell col-lg-2 col-sm-3 col-4" *ngFor="let item of currentOutgoingMail.emptyItems">
            </div>
        
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-secondary mr-1" (click)="delMessage(1, currentOutgoingMail.id)">Удалить</button>
          <button class="btn btn-secondary" (click)="currentOutgoingMail = null" data-dismiss="modal">Закрыть</button>
        </div>

      </div>
      <div class="inline-table col-12" [class.col-lg-6]="currentOutgoingMail">
        <div class="col-12">
          <div class="form-group">
            <hr />
            <label class="inline-block col-12 col-sm-2">Фильтр: </label>
            <input type="text" class="inline-block form-control col-12 col-sm-9" placeholder="Введите тему или адресата"
              value="" [(ngModel)]="searchString">
            <hr />
            <input type="button" class="inline-block col-3 btn btn-secondary mr-1 col-12 col-sm-4 col-uhd-2"
              (click)="searchMails(1)" value="Фильтровать">
            <input type="button" class="inline-block col-3 btn btn-secondary  col-12 col-sm-4 col-uhd-2" value="Удалить"
              (click)="delManyMails(1)">
            <hr />
          </div>
        </div>
        <table class="table mt-5">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="d-none d-sm-table-cell">Дата и время</th>
              <th scope="col">Кому</th>
              <th scope="col">Тема</th>
            </tr>
          </thead>
          <tbody>
            <tr class="" [class.selected]="currentOutgoingMail && currentOutgoingMail.id === mail.id"
              *ngFor="let mail of outgoingMails.mails; index as i" (click)="openMail(1, i)">
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="{{'outCheck' + i }}"
                    (click)="toggleCheckMail(1, i)">
                  <label class="custom-control-label" for="{{'outCheck' + i }}"></label>
                </div>
              </td>
              <td class="d-none d-sm-table-cell">{{mail.date | date:'dd.MM.yyyy HH:mm:ss'}}</td>
              <td>{{mail.toName}}</td>
              <td>{{mail.theme}}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <button class="btn m-2 btn-outline-secondary" (click)="prev(1)">
            <<</button> <button class="btn m-2 btn-outline-secondary" *ngFor="let num of outgoingNumberButtons"
              ngClass="{{num.cls}}" (click)="goToPage(1, num.value)">{{num.value}}
          </button>

          <button class="btn m-2 btn-outline-secondary" (click)="next(1)">>></button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #sendMessage let-c="close" let-d="dismiss">
  <div class="modal-dialog-centered">
    <div class="modal-content col-uhd-4 offset-uhd-4">

      <div class="modal-header">
        <h4 class="modal-title">Сообщение</h4>
        <button type="button" class="close" (click)="c()">&times;</button>
      </div>

      <div class="modal-body text-left">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            <label for="sada">Тема:</label>
            <input type="text" class="form-control" id="sada" placeholder="Введите тему" [(ngModel)]="newMessage.theme">
          </div>
          <div class="form-group">
            <label>Кому:</label>
            <input type="text" class="form-control typeahead border-primary" name="query" id="query"
              placeholder="Введите имя адресата..." data-provide="typeahead" autocomplete="off">
          </div>
          <div class="form-group">
            <textarea class="message-text" [(ngModel)]="newMessage.message"></textarea>
          </div>
        </div>
        <div class="pt-4">
          <div class="inventory-table" *ngIf="isAdmin">
            <div class="inventory-row row">
              <div class="inventory-cell col-12 col-md-6 col-xl-2" data-toggle="modal" data-target="#addItem"
                *ngFor="let item of newMsgAttach">
                <i class="inventory-item-help material-icons" (click)="removeItemFromAttach(item)">
                  delete
                </i>
                <div class="inventory-item">
                  <div class="inventory-item-image">
                    <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                  </div>
                </div>
                <span class="inventory-item-count">{{item.displayCount}}</span>
              </div>
              <div class="inventory-cell col-12 col-md-6 col-xl-2" data-toggle="modal" data-target="#addItem"
                (click)="openAddItem(addItem)"
                *ngFor="let empty of newMsgEmptyAttach">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="sendNewMessage()">Отправить
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c()">Закрыть</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addItem let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Доступные предметы</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body item-collection">
      <div class="inline-table col-12 text-white">
        <div class="pt-4">
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-12 col-md-6 col-xl-2" (click)="openForm(addItemBox)"
                *ngFor="let item of itemCollection.items" (click)="selectItemInCollection(item)" >
                <div class="inventory-item main">
                  <i class="inventory-item-help material-icons d-none">
                    help_outline
                  </i>
                  <div class="inventory-item-image">
                    <img src="{{item.item.image}}" class="" title="{{item.item.name}}">
                  </div>
                  <span class="inventory-item-count"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn m-2 btn-outline-secondary" (click)="prev()">
              <<</button> <button class="btn m-2 btn-outline-secondary"
                *ngFor="let num of itemCollectionNumberButtons" ngClass="{{num.cls}}" (click)="goToPage(num.value)">
                {{num.value}}
            </button>

            <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addItemBox let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Добавление предмета {{selectedItem.item.name}} во вложение сообщения</h4>
      <button type="button" class="close" (click)="c()">&times;</button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Количество</label>
        <input type="number" class="form-control" value="{{selectedItem.count}}" [(ngModel)]="selectedItem.count"
          autofocus>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c()" (click)="addItemToAttach()">
        Добавить
      </button>
      <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
    </div>
  </div>
</ng-template>