@import '../profile/inventory/inventory.component.scss';
@import '../../../../css/big-grid-bootstrap.min.css';

@media (min-width: 3840px) {
  .col-uhd-4.modal-content.offset-uhd-4 {
    margin-left: 33.33333333% !important;
  }
}

.wrapper {
  background-color: #343a40;
  -webkit-border-radius: 6pt;
  -moz-border-radius: 6pt;
  border-radius: 6pt;
  color: #ffffff80;
  margin-bottom: 100pt;
  padding-bottom: 1pt;
}

.container {
  background-color: #343a40;
  -webkit-border-radius: 6pt;
  -moz-border-radius: 6pt;
  border-radius: 6pt;
  color: #ffffff80;
  margin-bottom: 100pt;
  padding-bottom: 1pt;
}

.message-text {
  resize: none;
  width: 100%;
  height: 150pt;
  -webkit-border-radius: 3pt;
  -moz-border-radius: 3pt;
  border-radius: 3pt;
  background: #757575;
}

.not-readed {
  background: #757575;
}
.selected {
  background: #7e9edc;
}

.custom-control-label::before,
.custom-control-label::after {
  top: .8rem;
  width: 1.25rem;
  height: 1.25rem;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #757575;
  background-color: #757575;
}

.inline-table {
  display: inline-table;
}

.container-fluid {
  position: relative;
}

.new-mail-btn {
  position: absolute;
  right: 0;
  top: 5pt;
}

.custom-control-label {
  bottom: 8pt;
}

.nav-tabs li {
  padding: 8pt;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e64a;
}

.nav-tabs a.active {
  border: 1px solid #dee2e64a;
  border-bottom: none;
}

.nav-tabs li a {
  color: #ffffff80;
  background-color: transparent;
}

.inventory-table.minify {
  & .inventory-cell {
    height: 50pt !important; 

    & .inventory-item {
      height: 50pt !important; 

      & .inventory-item-count {
        right: 0 !important; 
      }
    }

    & .inventory-item-help { 
      font-size: 18px; 
    } 
    & .inventory-item-image img {
      top: 12pt; 
      position: relative; 
      max-height: 40pt !important; 
      max-width: 40pt !important; 
      width: inherit !important; 
      margin-top: -2pt;
    } 
  }
}

// .inventory-table.minify .inventory-item, 
// .inventory-table.minify .inventory-cell { 
//   height: 50pt !important; 
// } 
 
// .inventory-table.minify .inventory-item .inventory-item-count { 
//   right: 0 !important; 
// } 
 
// .inventory-table.minify .inventory-item-help { 
//   font-size: 18px; 
// } 
 
// .inventory-table.minify .inventory-item-image img { 
//   width: 40pt !important; 
//   top: 12pt; 
//   position: relative; 
// } 