<div class="wrapper text-gray col-12 col-udh-4 col-xl-4 offset-0 offset-xl-4">
  <div class="tab-pane">
    <h3 class="ml-2 mt-2">Вклад</h3>
    <table class="table text-center">
      <tbody>
      <tr>
        <td class="border-0">
          <a class="w-50 btn btn-secondary btn-lg col-12 no-text-decor text-white" (click)="donate(10000)">Получить 10000 золота</a>
        </td>
      </tr>
      <tr>
        <td class="border-0">
          <a class=" w-50 btn btn-secondary btn-lg col-12 no-text-decor text-white" (click)="donate(5000)">Получить 5000 золота</a>
        </td>
      </tr>
      <tr>
        <td class="border-0">
          <a class=" w-50 btn btn-secondary btn-lg col-12 no-text-decor text-white" (click)="donate(2500)">Получить 2500 золота</a>
        </td>
      </tr>
      <tr>
        <td class="border-0">
          <a class=" w-50 btn btn-secondary btn-lg col-12 no-text-decor text-white" (click)="donate(1000)">Получить 1000 золота</a>
        </td>
      </tr>
      <tr>
        <td class="border-0">
          <a class=" w-50 btn btn-secondary btn-lg col-12 no-text-decor text-white" (click)="donate(500)">Получить 500 золота</a>
        </td>
      </tr>
      <tr>
        <td class="border-0">
          <a class=" w-50 btn btn-secondary btn-lg col-12 no-text-decor text-white" (click)="donate(250)">Получить 250 золота</a>
        </td>
      </tr>
      <tr>
        <td class="border-0">
          <a class=" w-50 btn btn-secondary btn-lg col-12 no-text-decor text-white" (click)="donate(100)">Получить 100 золота</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
