@import '../../../../css/big-grid-bootstrap.min.css';

.wrapper {
  background-color: #343a40;
  -webkit-border-radius: 6pt;
  -moz-border-radius: 6pt;
  border-radius: 6pt;
  color: #ffffff80;
  margin-bottom: 100pt;
  padding-bottom: 1pt;
}
