<div class="container text-gray">
  <div class='calendar'>
    <h3>Календарь</h3>
    <hr/>
    <div class="inventory-table">
      <div class="inventory-row row">
        <div class="inventory-cell col-xl-2 col-lg-6 col-sm-12"
             [class.old]="i + 1 < currentDayNum" [class.collected]="calendar.userDayChecks && calendar.userDayChecks[i]" [class.future]="i + 1 > currentDayNum" [class.active]="i + 1 == currentDayNum"
             *ngFor="let day of calendar.days; index as i"
             (click)="(calendar.userDayChecks && !calendar.userDayChecks[i]) && currentDayNum == i + 1 && checkDay(i + 1)"
             (click)="(calendar.userDayChecks && !calendar.userDayChecks[i]) && currentDayNum > i + 1 && openCheckModal(check_old_day, i)"
        >
          <i class="inventory-item-help calendar-day-number">
            {{i + 1}}
          </i>
          <div class="inventory-item-image">
            <img src="{{day.item.image}}" title="{{day.item.name}} x{{day.count}}">
          </div>
          <span class="inventory-item-gold-cost"><img class="gold-icon" src="../../../assets/items/gold.png"/>{{calendar.checkOldCellGoldCost}}</span>
          <span class="inventory-item-coin-cost">{{day.count}}</span>
          <div class="overlay"  title="{{day.item.name}} x{{day.count}}"></div>
        </div>
      </div>
    </div>
    <div class="p-b-2">
      <h3>Награды за отметки</h3>
      <hr/>
      <ul class="nav nav-tabs ">
        <li class=""><a data-toggle="tab" data-target="#sdays" class="nav-link no-text-decor active">7 дней</a></li>
        <li class=""><a data-toggle="tab" data-target="#ftdays" class="nav-link no-text-decor">14 дней</a></li>
        <li class=""><a data-toggle="tab" data-target="#twodays" class="nav-link no-text-decor">21 день</a></li>
        <li class=""><a data-toggle="tab" data-target="#fulldays" class="nav-link no-text-decor">Полный месяц</a></li>
      </ul>
      <div class="tab-content pt-3">
        <div id="sdays" class="tab-pane fade show in active">
          <div class="inventory-cell button-cell mb-3">
            <button class="btn btn-secondary btn-lg col-xl-4 col-6" (click)="collectReward(2)"
                    [disabled]="calendar.userCollectedRewards && calendar.userCollectedRewards[d7Reward.id - 1]">Собрать</button>
          </div>
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-xl-2 col-12"
                   [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[d7Reward.id - 1]"
                   *ngFor="let item of d7Reward.items">
                <i class="inventory-item-help material-icons d-none">
                  help_outline
                </i>
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
                <span class="inventory-item-gold-cost"></span>
                <span class="inventory-item-coin-cost">{{item.count}}</span>
                <div class="overlay"></div>
              </div>
              <div class="inventory-cell col-xl-2 col-12"
                   [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[d7Reward.id - 1]"
                   *ngFor="let item of d7Reward.emptyItems">
                <div class="overlay"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="ftdays" class="tab-pane fade">
          <div class="inventory-cell button-cell mb-3">
            <button class="btn btn-secondary btn-lg col-xl-4 col-6" (click)="collectReward(3)"
                    [disabled]="calendar.userCollectedRewards && calendar.userCollectedRewards[d14Reward.id - 1]">Собрать</button>
          </div>
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-xl-2 col-12"
                   [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[d14Reward.id - 1]"
                   *ngFor="let item of d14Reward.items">
                <i class="inventory-item-help material-icons d-none">
                  help_outline
                </i>
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
                <span class="inventory-item-gold-cost"></span>
                <span class="inventory-item-coin-cost">{{item.count}}</span>
                <div class="overlay"></div>
              </div>
              <div class="inventory-cell col-xl-2 col-12"
                   [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[d14Reward.id - 1]"
                   *ngFor="let item of d14Reward.emptyItems">
                <div class="overlay"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="twodays" class="tab-pane fade">
          <div class="inventory-cell button-cell mb-3">
            <button class="btn btn-secondary btn-lg col-xl-4 col-6" (click)="collectReward(4)"
                    [disabled]="calendar.userCollectedRewards && calendar.userCollectedRewards[d21Reward.id - 1]">Собрать</button>
          </div>
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-xl-2 col-12"
                   [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[d21Reward.id - 1]"
                   *ngFor="let item of d21Reward.items">
                <i class="inventory-item-help material-icons d-none">
                  help_outline
                </i>
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
                <span class="inventory-item-gold-cost"></span>
                <span class="inventory-item-coin-cost">{{item.count}}</span>
                <div class="overlay"></div>
              </div>
              <div class="inventory-cell col-xl-2 col-12"
                   [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[d21Reward.id - 1]"
                   *ngFor="let item of d21Reward.emptyItems">
                <div class="overlay"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="fulldays" class="tab-pane fade">
          <div class="inventory-cell button-cell mb-3">
            <button class="btn btn-secondary btn-lg col-xl-4 col-6" (click)="collectReward(5)"
                    [disabled]="calendar.userCollectedRewards && calendar.userCollectedRewards[dFullReward.id - 1]">Собрать</button>
          </div>
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-xl-2 col-12"
                   [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[dFullReward.id - 1]"
                   *ngFor="let item of dFullReward.items">
                <i class="inventory-item-help material-icons d-none">
                  help_outline
                </i>
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
                <span class="inventory-item-gold-cost"></span>
                <span class="inventory-item-coin-cost">{{item.count}}</span>
                <div class="overlay"></div>
              </div>
              <div class="inventory-cell col-xl-2 col-12"
                   [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[dFullReward.id - 1]"
                   *ngFor="let item of dFullReward.emptyItems">
                <div class="overlay"></div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="tab-content">
        <h3>Ежедневная награда</h3>
        <hr/>
        <div class="inventory-cell button-cell mb-3">
          <button class="btn btn-secondary btn-lg col-xl-4 col-6" (click)="collectReward(1)"
                  [disabled]="calendar.userCollectedRewards && calendar.userCollectedRewards[dailyReward.id - 1]">Собрать</button>
        </div>
        <div class="tab-pane fade show in active">
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-xl-2 col-lg-6 col-12"
                   [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[dailyReward.id - 1]"
                   *ngFor="let item of dailyReward.items">
                <i class="inventory-item-help material-icons d-none">
                  help_outline
                </i>
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
                <span class="inventory-item-gold-cost"></span>
                <span class="inventory-item-coin-cost">{{item.count}}</span>
                <div class="overlay"></div>
              </div>
              <div class="inventory-cell col-xl-2 col-lg-6 col-12"
                   [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[dailyReward.id - 1]"
                   *ngFor="let item of dailyReward.emptyItems">
                <div class="overlay"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #check_old_day let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Отметить прошедший день</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center text-white">
   Вы уверены, что хотите потратить {{calendar.checkOldCellGoldCost}} Золота, чтобы собрать награду за отметку выбранного дня?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark text-white"
            (click)="calendar.userDayChecks && !calendar.userDayChecks[selectedDayIndex] && checkDay(selectedDayIndex + 1)">Подтвердить</button>
    <button type="button" class="btn btn-outline-dark text-white" (click)="c()">Закрыть</button>
  </div>
</ng-template>
