@import '../profile/profile.component.scss';
@import '../profile/inventory/inventory.component.scss';

.container {
  width: fit-content;
  background-color: #343a40;
  -webkit-border-radius: 6pt;
  -moz-border-radius: 6pt;
  border-radius: 6pt;
  color: #ffffff80;
  margin-bottom: 100pt;
  padding-bottom: 1pt;
}

.calendar {
  padding: 25pt;
  margin: 0;
}

.nav-tabs {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.gold-icon {
  width: 20pt;
}

.coin-icon {
  width: 20pt;
}

.inventory-table {
  margin: 0;

  &
  .inventory-cell {
    position: relative;

    & .inventory-item-gold-cost {
      position: absolute;
      bottom: 0;
      left: 2pt;
      font-size: 15pt;
    }

    & .inventory-item-coin-cost {
      position: absolute;
      bottom: 0;
      right: 2pt;
      font-size: 30pt;
    }

    .inventory-item-image img {
      width: 80pt;
    }

    &.old {

    }

    &.collected {

    }

    &.active {
      border: 3pt solid #7e9edc;
    }

    &.future .overlay {
      opacity: 1;
      display: inherit;
    }

    &.collected .overlay {
      opacity: 0.7;
      background: #0503037a url("../../../../assets/done.png") no-repeat center;
      display: inherit;
    }

    & .overlay {
      background: #8080807a;
      width: 100%;
      height: 100%;
      right: 0pt;
      top: 0pt;
      position: absolute;
      display: none;
    }

    & .calendar-day-number {
      right: 2pt !important;
      font-size: 30pt;
      font-family: sans-serif;
      top: -8pt !important;
    }
  }
}

@media (min-width: 768px){
  .seven-cols .col-1,
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-1,
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-1,
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
  }
}
