<div class="main">
  <div class="wrapper">
    <form class="form col-lg-4 offset-lg-4 col-10 offset-1 d-flex flex-column">
      <h3 class="form-group">SW LootBox</h3>
      <div class="form-group">
        <label for="email">Почта</label>
        <input type="email" class="form-control form-control-lg" id="email"
               aria-describedby="emailHelp"
               placeholder="Введите почту" [(ngModel)]="loginForm.email" name="email">
      </div>
      <div class="form-group">
        <label for="pass">Пароль</label>
        <input type="password" class="form-control form-control-lg" id="pass"
               placeholder="Введите пароль" [(ngModel)]="loginForm.password" name="password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe" [(ngModel)]="loginForm.rememberMe" name="rememberMe">
        <label class="form-check-label" for="rememberMe">Запомнить меня</label>
      </div>
      <button type="button" class="mt-3 btn btn-secondary" (click)="login()">Войти
      </button>
      <a type="submit" class="mt-3 btn btn-secondary text-white no-text-decor" href="signup">Регистрация</a>
      <a type="submit" class="mt-3 btn btn-secondary text-white no-text-decor" href="restore">Забыли пароль</a>
    </form>
  </div>
</div>
