.form {
  border: 1pt solid #4e5c83;
  padding: 30pt;
  background-color: #343a40;
  color: #ffffff80;
  -webkit-border-radius: 6pt;
  -moz-border-radius: 6pt;
  border-radius: 6pt;

}

.main {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 500pt;
}

.modal-body {
  font-size: 28pt;
}

