<div class="main">
  <div class="wrapper">
    <form class="form col-lg-4 offset-lg-4 col-10 offset-1">
      <h3 class="form-group">SW LootBox</h3>
      <div class="form-group">
        <label for="nick">Ник</label>
        <input type="text" required  class="form-control form-control-lg" id="nick" aria-describedby="emailHelp"
               placeholder="Введите желаемый ник" [(ngModel)]="regForm.name" name="name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Почта</label>
        <input type="email" required  class="form-control form-control-lg" id="exampleInputEmail1"
               aria-describedby="emailHelp"
               placeholder="Введите почту" [(ngModel)]="regForm.email" name="email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label>
        <input type="password" required  class="form-control form-control-lg" id="exampleInputPassword1"
               placeholder="Введите пароль" [(ngModel)]="regForm.password" name="password">
      </div>
      <div class="form-group">
        <label for="repeatPass">Повторите пароль</label>
        <input type="password" required class="form-control form-control-lg" id="repeatPass"
               placeholder="Введите пароль" [(ngModel)]="regForm.confirmPassword" name="confirmPassword">
      </div>
      <div class="form-group">
        <label for="date">Дата рождения</label>
        <input type="text" required class="datepicker form-control form-control-lg" id="date"
               placeholder="Выберите дату" [(ngModel)]="regForm.birthdate" name="birthday">
      </div>
      <button type="button" class="mt-3 btn btn-secondary mr-1" data-toggle="modal" data-target="#accept">
        Зарегистрироваться
      </button>
      <button type="button" class="mt-3 btn btn-secondary">
        <a href="signin" class="text-white no-text-decor">На страницу авторизации</a>
      </button>
    </form>
  </div>
</div>

<div class="modal fade show" id="accept" tabindex="-1" role="dialog" aria-labelledby="accept" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Подтверждая данную форму, вы подтверждаете, что вы являетесь совершеннолетним в соответствии с
        законодательством Российской Федерации.
      </div>
      <div class="modal-footer">
        <button type="button" class="text-white btn btn-secondary mr-1" data-dismiss="modal" (click)="register()">
          Принять
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отклонить</button>
      </div>
    </div>
  </div>
</div>
