<div class="wrapper">
  <div class="tab-pane pt-4">
    <h3>Предметы</h3>
    <hr />
    <div class="col-12">
      <div class="form-group">
        <input type="button" class="inline-lock col-2 btn btn-secondary " data-toggle="modal"
          data-target="#add-new-item" value="Добавить предмет"
          title="Открытие окна рассылки писем выделенной(чекбоксы) группе пользователей или всем (если не отмечен ни один пользователь)">
      </div>
    </div>
    <table class="table">
      <thead>
        <tr class="row">
          <th scope="col" class="col-2">Изображение</th>
          <th scope="col" class="col-3" (click)="sort('name', shopFilter.nameSort)"><i class="material-icons">
              {{shopFilter.nameSort === 0 ? 'unfold_more' : (shopFilter.nameSort === -1 ? 'expand_more' :
                    'expand_less')}}
            </i>Название предмета</th>
          <th scope="col" class="col-1" (click)="sort('buyCoinsCost', shopFilter.buyCoinsCost)"><i
              class="material-icons">
              {{shopFilter.buyCoinsCost === 0 ? 'unfold_more' : (shopFilter.buyCoinsCost === -1 ? 'expand_more' :
                              'expand_less')}}
            </i>Цена покупки игроком (Монеты)
          </th>
          <th scope="col" class="col-1" (click)="sort('buyGoldCost', shopFilter.buyGoldCost)"><i class="material-icons">
              {{shopFilter.buyGoldCost === 0 ? 'unfold_more' : (shopFilter.buyGoldCost === -1 ? 'expand_more' :
                                        'expand_less')}}
            </i>Цена покупки игроком (Золото)
          </th>
          <th scope="col" class="col-1" (click)="sort('sellCoinsCost', shopFilter.sellCoinsCost)"><i
              class="material-icons">
              {{shopFilter.sellCoinsCost === 0 ? 'unfold_more' : (shopFilter.sellCoinsCost === -1 ? 'expand_more' :
                                                  'expand_less')}}
            </i>Цена продажи игроком (Монеты)
          </th>
          <th scope="col" class="col-1" (click)="sort('sellGoldCost', shopFilter.sellGoldCost)"><i
              class="material-icons">
              {{shopFilter.sellGoldCost === 0 ? 'unfold_more' : (shopFilter.sellGoldCost === -1 ? 'expand_more' :
                                                            'expand_less')}}
            </i>Цена продажи игроком (Золото)
          </th>
          <th scope="col" class="col-1">Количество в товаре</th>
          <th scope="col" class="col-1 d-none" title="Максимальное количество покупок (Одним игроком . -1 значит бесконечно)">
            Количество покупок
          </th>
          <th scope="col" class="col-1">Доступно в магазине</th>
          <th scope="col" class="col-1">Действия</th>
        </tr>
        <tr class="row">
          <th scope="col" class="col-2">
            <button class="btn btn-secondary" title="Обновить таблицу и сбросить фильтры" (click)="clearFilter()">
              <i class="material-icons">
                refresh
              </i>
            </button>
          </th>
          <th scope="col" class="col-3">
            <input type="text" class="form-control" placeholder="Поиск по названию..." [(ngModel)]="shopFilter.name">
          </th>
          <th scope="col" class="col-1">
          </th>
          <th scope="col" class="col-1">
          </th>
          <th scope="col" class="col-1">
          </th>
          <th scope="col" class="col-1">
          </th>
          <th scope="col" class="col-1"></th>
          <th scope="col" class="col-1  d-none" title="Максимальное количество покупок (Одним игроком . -1 значит бесконечно)">
          </th>
          <th scope="col" class="col-1">
            <select class="form-control" [(ngModel)]="shopFilter.isAvail">
              <option value="0" selected>Все</option>
              <option value="1">Да</option>
              <option value="-1">Нет</option>
            </select>
          </th>
          <th scope="col" class="col-1">
            <button class="btn btn-secondary" title="Поиск по выбранным фильтрам" (click)="goToPage(1)">
              <i class="material-icons">
                search
              </i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" *ngFor="let item of shop.items; index as i">
          <td scope="col" class="col-2"><img class="col-12" src="{{item.item.image}}"></td>
          <td scope="col" class="col-3">{{item.item.name}}</td>
          <td scope="col" class="col-1">{{item.buyCost.coins}}</td>
          <td scope="col" class="col-1">{{item.buyCost.gold}}</td>
          <td scope="col" class="col-1">{{item.sellCost.coins}}</td>
          <td scope="col" class="col-1">{{item.sellCost.gold}}</td>
          <td scope="col" class="col-1">{{item.count}}</td>
          <td scope="col" class="col-1  d-none">{{item.limit}}</td>
          <td scope="col" class="col-1">{{item.isAvail ? 'Да' : 'Нет'}}</td>
          <td scope="col" class="col-1">
            <button class="btn btn-secondary mb-2"
              (click)="toggleLockItem(i, !item.isAvail)"><i class="material-icons">{{(item.isAvail ? 'lock' : 'lock_open')}}</i></button>
            <button class="btn btn-secondary mb-2" data-toggle="modal" data-target="#add-item"
              (click)="selectItem(item)"><i class="material-icons">edit</i></button>
            <button class="btn btn-secondary mb-2" data-toggle="modal" data-target="#del-item"
              (click)="selectItem(item)"><i class="material-icons">delete</i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button class="btn m-2 btn-outline-secondary" (click)="prev()">
        <<</button> <button class="btn m-2 btn-outline-secondary" *ngFor="let num of numberButtons"
          ngClass="{{num.cls}}" (click)="goToPage(num.value)">{{num.value}}
      </button>

      <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
    </div>
  </div>
</div>

<div class="modal fade" id="add-item">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Изменение предмета</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body text-left">
        <form class="form col-10 offset-1">
          <div class="form-group">
            <label for="nick">Название</label>
            <input type="text" class="form-control form-control-lg" id="nick"
              placeholder="Введите название..." [(ngModel)]="selectedItem.item.name" name="seli_name">
          </div>
          <div class="form-group">
            <label for="nick">Код предмета</label>
            <input type="text" class="form-control form-control-lg" id="nick"  title="Для фрагментов должен добавляться в начало префикс Character_"
              placeholder="Введите код предмета..." [(ngModel)]="selectedItem.item.code" name="seli_code">
          </div>
          <div class="form-group">
            <label for="rarity">Редкость</label>
            <select class="form-control form-control-lg" [(ngModel)]="selectedItem.item.rarity" name="rarity" id="rarity">
              <option value="1">NONE</option>
              <option value="2">COMMON</option>
              <option value="3">UNCOMMON</option>
              <option value="4">RARE</option>
            </select>
          </div>
          <div class="form-group">
            <label for="avatar">Изображение</label>
            <span class="ml-2 btn btn-secondary btn-file">
              Загрузить <input type="file" accept=".jpg,.png" class="form-control" id="avatar" placeholder="Выберите изображение"
                (change)="onFileChange($event, selectedItem)">
              <span class='label label-info' id="upload-file-info">{{currItemImageName}}</span>
            </span>
            <input type="text" class="mt-2 form-control form-control-lg" placeholder="Введите путь к изображению на сервере..."
              [(ngModel)]="selectedItem.item.image" name="seli_image">
          </div>
          <div class="form-group d-none">
            <label for="limit">Максимальное количество покупки одним игроком</label>
            <input type="number" class="form-control form-control-lg" id="limit" name="shi_limit"
              [(ngModel)]="selectedItem.limit">
          </div>
          <div class="form-group">
            <label for="count">Количество в пачке</label>
            <input type="number" class="form-control form-control-lg" id="count" name="shi_count"
              [(ngModel)]="selectedItem.count">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Цена покупки игроком (Монеты)</label>
            <input type="number" class="form-control form-control-lg" id="exampleInputPassword1"
              [(ngModel)]="selectedItem.buyCost.coins" name="seli_buy_coins">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">Цена покупки игроком (Золото)</label>
            <input type="number" class="form-control form-control-lg" id="exampleInputPassword2"
              [(ngModel)]="selectedItem.buyCost.gold" name="seli_buy_gold">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword3">Цена продажи игроком (Монеты)</label>
            <input type="number" class="form-control form-control-lg" id="exampleInputPassword3"
              [(ngModel)]="selectedItem.sellCost.coins" name="seli_sell_coins">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Цена продажи игроком (Золото)</label>
            <input type="number" class="form-control form-control-lg" id="exampleInputPassword4"
              [(ngModel)]="selectedItem.sellCost.gold" name="seli_sell_gold">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="saveItem(selectedItem)">Добавить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-new-item">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Добавление предмета</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body text-left">
        <form class="form col-10 offset-1">
          <div class="form-group">
            <label for="nick">Название</label>
            <input type="text" class="form-control form-control-lg" id="nick"
              placeholder="Введите название..." [(ngModel)]="newItem.item.name" name="seli_name">
          </div>
          <div class="form-group">
            <label for="code">Код предмета</label>
            <input type="text" class="form-control form-control-lg" id="code" title="Для фрагментов должен добавляться в начало префикс Character_"
              placeholder="Введите код предмета..." [(ngModel)]="newItem.item.code" name="seli_code">
          </div>
          <div class="form-group">
            <label for="rarity">Редкость</label>
            <select class="form-control form-control-lg" [(ngModel)]="newItem.item.rarity" name="rarity" id="rarity" >
              <option value="1">NONE</option>
              <option value="2">COMMON</option>
              <option value="3">UNCOMMON</option>
              <option value="4">RARE</option>
            </select>
          </div>
          <div class="form-group">
            <label for="avatar">Изображение</label>
            <span class="ml-2 btn btn-secondary btn-file">
              Загрузить <input type="file" accept=".jpg,.png" class="form-control" id="avatar" placeholder="Выберите изображение"
                (change)="onFileChange($event, newItem)">
              <span class='label label-info' id="upload-file-info">{{currItemImageName}}</span>
            </span>
            <input type="text" class="mt-2 form-control form-control-lg" 
              placeholder="Введите путь к изображению на сервере..." [(ngModel)]="newItem.item.image" name="seli_image">
          </div>
          <div class="form-group d-none">
            <label for="limit">Максимальное количество покупки одним игроком</label>
            <input type="number" class="form-control form-control-lg" id="limit" name="shi_limit"
              [(ngModel)]="newItem.limit">
          </div>
          <div class="form-group">
            <label for="count">Количество в пачке</label>
            <input type="number" class="form-control form-control-lg" id="count" name="shi_count"
              [(ngModel)]="newItem.count">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Цена покупки игроком (Монеты)</label>
            <input type="number" class="form-control form-control-lg" id="exampleInputPassword1"
              [(ngModel)]="newItem.buyCost.coins" name="seli_buy_coins">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">Цена покупки игроком (Золото)</label>
            <input type="number" class="form-control form-control-lg" id="exampleInputPassword2"
              [(ngModel)]="newItem.buyCost.gold" name="seli_buy_gold">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword3">Цена продажи игроком (Монеты)</label>
            <input type="number" class="form-control form-control-lg" id="exampleInputPassword3"
              [(ngModel)]="newItem.sellCost.coins" name="seli_sell_coins">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Цена продажи игроком (Золото)</label>
            <input type="number" class="form-control form-control-lg" id="exampleInputPassword4"
              [(ngModel)]="newItem.sellCost.gold" name="seli_sell_gold">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="saveItem(newItem)">Добавить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="del-item">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Удаление предмета "{{selectedItem.item.name}}"</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        Вы уверены, что хотите удалить из системы предмет "{{selectedItem.item.name}}"?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="deleteItem(selectedItem.item.id)">Удалить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>