<div class="" id="accept" tabindex="-1" role="dialog" aria-labelledby="accept" class="container" aria-hidden="true">
  <div class="modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-warning">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      </div>
      <div class="modal-body">
        На данный момент раздел находится в разработке и не доступен для использования. Извините за временные неудобства.
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-dismiss="modal" href="signin">Закрыть</a>
      </div>
    </div>
  </div>
</div>
