<div class="main">
  <div class="wrapper">
    <form class="form col-lg-4 offset-lg-4 col-10 offset-1 d-flex flex-column">
      <h3 class="form-group">SW LootBox</h3>
      <div class="form-group">
        <label for="email">Почта</label>
        <input type="email" class="form-control form-control-lg" id="email"
               aria-describedby="emailHelp"
               placeholder="Введите почту" [(ngModel)]="email" name="email">
      </div>
      <button type="submit" class="mt-3 btn btn-secondary" (click)="restorePass()">Восстановить
      </button>
      <!--<button type="button" class="mt-3 btn btn-secondary" (click)="reSendEmail()">Подтвердить почту-->
      <!--</button>-->
      <a type="submit" class="mt-3 btn btn-secondary text-white no-text-decor" href="signin">Авторизация</a>
    </form>
  </div>
</div>
