@import "../../user/profile/inventory/inventory.component.scss";

.wrapper {
  background-color: #343a40;
  -webkit-border-radius: 6pt;
  -moz-border-radius: 6pt;
  border-radius: 6pt;
  color: #ffffff80;
  margin-bottom: 100pt;
  padding: 5pt;
  padding-bottom: 1pt;
}

.online-status {
  width: 20pt;
  height: 20pt;
  background: #268226;
  margin-right: 10pt;
  border-radius: 12pt;
  color: #26822682;
}

.online-status.gray {
  background: #929286;
  color: #929286;
}

.inventory-item-remove {
  padding: 2pt;
}

.inventory-table .inventory-row .inventory-cell .inventory-item-help {
  top: 3pt;
  right: 3pt;
}

.inventory-item-count {
  color: #A6997C;
  font-size: 20pt;
}

.center-images .inventory-item-image {
  height: 100%;
  position: relative;
  width: 0;
}

.center-images .inventory-item-image img {
  width: 100pt;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
