<div class="wrapper">
  <div class="tab-pane pt-4">
    <h3>Управление Лутбоксами</h3>
    <hr />
    <div class="col-12">
      <div class="form-group">
        <input type="button" class="inline-lock col-2 btn btn-secondary " value="Добавить новый"
          (click)="openNewTreasureForm(newTreasure)" title="Создание нового сундука">
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Стоимость открытия</th>
          <th scope="col">Опыт за открытие</th>
          <th scope="col">Доступность</th>
          <th scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let box of treasures">
          <td>{{box.name}}</td>
          <td>
            <div class="treasure-resource" *ngFor="let res of box.resources">
              <label class="treasure-resource-count">{{res.item.name}} x{{res.value}}</label>
            </div>
          </td>
          <td>{{box.exp}}</td>
          <td><span class="online-status {{box.onlineIndicatorClass}}">dw</span>{{box.onlineStatusText}}</td>
          <td>
            <button class="btn btn-secondary mb-2 mr-2" data-toggle="modal"
              [attr.data-target]="(box.isLocked ? '#unlock' : '#lock')" (click)="selectBox(box)"><i
                class="material-icons">{{(box.isLocked ? 'lock_open' : 'lock')}}</i>
            </button>
            <button class="btn btn-secondary mb-2 mr-2" (click)="openBoxEdit(lootEdit, box)"><i
                class="material-icons">edit</i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #lootEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{selectedTreasure.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group text-left">
      <label for="name">Имя</label>
      <input type="text" class="form-control form-control-lg" id="name" placeholder="Введите имя"
        [(ngModel)]="selectedTreasure.name" name="name">
    </div>
    <div class="form-group text-left">
      <label for="exp">Опыт за открытие</label>
      <input type="number" class="form-control form-control-lg" id="exp" placeholder="Введите количество опыта"
        [(ngModel)]="selectedTreasure.exp" name="exp">
    </div>
    <div class="form-group text-left">
      <label for="img">Изображение сундука:</label>
      <span class="ml-2 btn btn-secondary btn-file">
        Загрузить <input type="file" accept=".jpg,.png" class="form-control" id="img" name="img"
          placeholder="Выберите изображение" (change)="onFileChange($event)">
        <span class='label label-info' id="upload-file-info">{{selectedTreasure.imgName}}</span>
      </span>
      <input type="text" class="mt-2 form-control form-control-lg"
        placeholder="Введите путь к изображению на сервере..." [(ngModel)]="selectedTreasure.image" name="img">
    </div>
    <div class="form-group">
      <h4 class="modal-title">Ресурсы для открытия</h4>
      <div class="inventory-table pt-2">
        <div class="inventory-row row col-xl-8  offset-xl-2">
          <div class="inventory-cell col-12 col-md-6 col-xl-3" *ngFor="let res of notDeletedResources">
            <i type="button" (click)="removeItemResources(res)"
              class="btn btn-secondary inventory-item-help inventory-item-remove material-icons">delete
            </i>
            <div class="inventory-item-image">
              <img src="{{res.item.image}}" title="{{res.item.name}} x{{res.value}}">
            </div>
            <span class="inventory-item-count">{{getDisplayCount(res.value)}}</span>
          </div>
          <div class="inventory-cell col-12 col-md-6 col-xl-3" (click)="openAddItemModal(addItem)"
            *ngFor="let empty of selectedTreasure.emptyResources">
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="form-group text-left">
      <button class="btn btn-secondary mb-2 add-item-btn" (click)="openAddLootBox(addLoot)">
        Добавить предмет
      </button>
    </div>
    <table class="table treasure-drop-list">
      <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Количество при выпадении</th>
          <th scope="col">Требуемое количество открытий</th>
          <th scope="col">Шанс, %</th>
          <th scope="col">Опыт</th>
          <th scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drop of notDeletedDropItems">
          <td><input type="text" class="form-control " value="{{drop.item.name}} x{{drop.count}}"
              title="{{drop.item.name}} x{{drop.count}}" readonly></td>
          <td>
            <input type="number" class="form-control  " value="{{drop.count}}" [(ngModel)]="drop.count">
          </td>
          <td>
            <select class="form-control" [(ngModel)]="drop.frequency" data-id="{{drop.frequency}}">
              <option value="1">1</option>
              <option value="10">10</option>
              <option value="50">50</option>
            </select>
          </td>
          <td>
            <input type="number" step="0.01" class="form-control  " value="0" [(ngModel)]="drop.chance">
          </td>
          <td>
            <input type="number" class="form-control  " value="0" [(ngModel)]="drop.exp">
          </td>
          <td>
            <button class="btn btn-secondary mb-2" data-toggle="modal" data-target="#delDropItem"
              (click)="removeDropItem(confirm, drop)"><i class="material-icons">delete</i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="saveTreasure()">Сохранить</button>
    <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
  </div>
</ng-template>

<ng-template #addItem let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Доступные предметы</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="inline-table col-12 text-white">
        <div class="pt-4">
          <div class="inventory-table">
            <div class="inventory-row row container-fluid">
              <div class="inventory-cell col-12 col-md-6 col-xl-2" *ngFor="let item of itemCollection.items"
                (click)="selectItemInCollection(addItemBox, item.item)">
                <div class="inventory-item main center-images ">
                  <i class="inventory-item-help material-icons d-none">
                    help_outline
                  </i>
                  <div class="inventory-item-image">
                    <img src="{{item.item.image}}" class="" title="{{item.item.name}}">
                  </div>
                  <span class="inventory-item-count"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn m-2 btn-outline-secondary" (click)="prev()">
              <<</button> <button class="btn m-2 btn-outline-secondary" *ngFor="let num of itemCollectionNumberButtons"
                ngClass="{{num.cls}}" (click)="goToPage(num.value)">{{num.value}}
            </button>

            <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addItemBox let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Добавление предмета {{selectedItem.item.name}} во вложение сообщения</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Количество</label>
        <input type="number" class="form-control" value="{{selectedItem.count}}" [(ngModel)]="selectedItem.count"
          autofocus>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c()" (click)="addItemToResources()">
        Добавить
      </button>
      <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
    </div>
  </div>
</ng-template>

<ng-template #addLoot let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Доступные предметы</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="inline-table col-12 text-white">
        <div class="pt-4">
          <div class="inventory-table">
            <div class="inventory-row row container-fluid">
              <div class="inventory-cell col-12 col-md-6 col-xl-2" *ngFor="let item of itemCollection.items"
                (click)="selectItemInCollection(addItemLoot, item.item)">
                <div class="inventory-item main center-images">
                  <i class="inventory-item-help material-icons d-none">
                    help_outline
                  </i>
                  <div class="inventory-item-image">
                    <img src="{{item.item.image}}" class="" title="{{item.item.name}}">
                  </div>
                  <span class="inventory-item-count"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn m-2 btn-outline-secondary" (click)="prev()">
              <<</button> <button class="btn m-2 btn-outline-secondary" *ngFor="let num of itemCollectionNumberButtons"
                ngClass="{{num.cls}}" (click)="goToPage(num.value)">{{num.value}}
            </button>

            <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addItemLoot let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Добавление предмета {{selectedItem.item.name}} во вложение сообщения</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Количество</label>
        <input type="number" class="form-control" value="{{selectedItem.count}}" [(ngModel)]="selectedItem.count"
          autofocus>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c()" (click)="addItemToDrop()">
        Добавить
      </button>
      <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
    </div>
  </div>
</ng-template>

<div class="modal fade" id="lock">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Заблокировать {{selectedTreasure.name}}?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            Вы уверены, что хотите сделать {{selectedTreasure.name}} недоступным пользователям?
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="lockLootBox()">Заблокировать
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unlock">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Разблокировать {{selectedTreasure.name}}?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="inline-table col-12 text-white">
          <div class="form-group">
            Вы уверены, что хотите сделать {{selectedTreasure.name}} доступным пользователям?
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="unLockLootBox()">Разблокировать
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<ng-template #confirm let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Вы уверены что хотите удалить предмет из списка?</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c(true)">
        Да
      </button>
      <button type="button" class="btn btn-secondary" (click)="c(false)">Нет</button>
    </div>
  </div>
</ng-template>

<ng-template #newTreasure let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Добавление нового сундука</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="form-group text-left">
        <label for="name">Имя</label>
        <input type="text" class="form-control form-control-lg" id="name" placeholder="Введите имя"
          [(ngModel)]="newTreasure.name" name="name">
      </div>
      <div class="form-group text-left">
        <label for="exp">Опыт за открытие</label>
        <input type="number" class="form-control form-control-lg" id="exp" placeholder="Введите количество опыта"
          [(ngModel)]="newTreasure.exp" name="exp">
      </div>
      <div class="form-group text-left">
        <label for="img">Изображение сундука:</label>
        <span class="ml-2 btn btn-secondary btn-file">
          Загрузить <input type="file" accept=".jpg,.png" class="form-control" id="img" name="img"
            placeholder="Выберите изображение" (change)="onFileChange($event)">
          <span class='label label-info' id="upload-file-info">{{newTreasure.imgName}}</span>
        </span>
        <input type="text" class="mt-2 form-control form-control-lg" placeholder="Введите путь к изображению на сервере..."
          [(ngModel)]="newTreasure.image" name="img">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="saveNewTreasure()">
        Сохранить
      </button>
      <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
    </div>
  </div>
</ng-template>