<div class="container">
  <div class='calendar'>
    <h3>Календарь</h3>
    <hr />
    <div class="inventory-table">
      <div class="inventory-row row">
        <div class="inventory-cell col-xl-2 col-lg-6 col-sm-12" [class.active]="i + 1 == currentDayNum"
          *ngFor="let day of calendar.days; index as i" (click)="openCalendarDayRewardModal(addItem, i)">
          <i class="inventory-item-help calendar-day-number">
            {{i + 1}}
          </i>
          <div class="inventory-item-image">
            <img src="{{day.item.image}}" title="{{day.item.name}} x{{day.count}}">
          </div>
          <span class="inventory-item-coin-cost">{{day.count}}</span>
          <div class="overlay" title="{{day.item.name}} x{{day.count}}"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Стоимость отметки уже прошедшего дня, золото:</label>
      <input type="number" class="form-control short-tb" id="exampleInputEmail1" value="{{calendar.checkOldCellGoldCost}}"
        [(ngModel)]="calendar.checkOldCellGoldCost">
    </div>
    <button class="btn btn-secondary btn-lg" (click)="saveCheckOldCellGoldCost()">Сохранить стоимость</button>
    <hr />
    <div class="p-b-5">
      <h3>Награды за отметки</h3>
      <ul class="nav nav-tabs ">
        <li class=""><a data-toggle="tab" data-target="#sdays" class="nav-link no-text-decor active">7 дней</a></li>
        <li class=""><a data-toggle="tab" data-target="#ftdays" class="nav-link no-text-decor">14 дней</a></li>
        <li class=""><a data-toggle="tab" data-target="#twodays" class="nav-link no-text-decor">21 день</a></li>
        <li class=""><a data-toggle="tab" data-target="#fulldays" class="nav-link no-text-decor">Полный месяц</a></li>
      </ul>
      <div class="tab-content pt-3">
        <div id="sdays" class="tab-pane fade show in active">
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-xl-2 col-12"
                [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[d7Reward.id - 1]"
                *ngFor="let item of d7Reward.items">
                <i class="inventory-item-help material-icons" (click)="removeReward(d7Reward, item)">
                  delete
                </i>
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
                <span class="inventory-item-gold-cost"></span>
                <span class="inventory-item-coin-cost">{{item.count}}</span>
                <div class="overlay"></div>
              </div>
              <div class="inventory-cell col-xl-2 col-12"
                (click)="openAddRewardItemDialog(addRewardItemDialog, d7Reward)"
                *ngFor="let item of d7Reward.emptyItems">
                <div class="overlay"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="ftdays" class="tab-pane fade">
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-xl-2 col-12"
                [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[d14Reward.id - 1]"
                *ngFor="let item of d14Reward.items">
                <i class="inventory-item-help material-icons" (click)="removeReward(d14Reward, item)">
                  delete
                </i>
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
                <span class="inventory-item-gold-cost"></span>
                <span class="inventory-item-coin-cost">{{item.count}}</span>
                <div class="overlay"></div>
              </div>
              <div class="inventory-cell col-xl-2 col-12"
                (click)="openAddRewardItemDialog(addRewardItemDialog, d14Reward)"
                *ngFor="let item of d14Reward.emptyItems">
                <div class="overlay"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="twodays" class="tab-pane fade">
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-xl-2 col-12"
                [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[d21Reward.id - 1]"
                *ngFor="let item of d21Reward.items">
                <i class="inventory-item-help material-icons" (click)="removeReward(d21Reward, item)">
                  delete
                </i>
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
                <span class="inventory-item-gold-cost"></span>
                <span class="inventory-item-coin-cost">{{item.count}}</span>
                <div class="overlay"></div>
              </div>
              <div class="inventory-cell col-xl-2 col-12"
                (click)="openAddRewardItemDialog(addRewardItemDialog, d21Reward)"
                *ngFor="let item of d21Reward.emptyItems">
                <div class="overlay"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="fulldays" class="tab-pane fade">
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-xl-2 col-12"
                [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[dFullReward.id - 1]"
                *ngFor="let item of dFullReward.items">
                <i class="inventory-item-help material-icons" (click)="removeReward(dFullReward, item)">
                  delete
                </i>
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
                <span class="inventory-item-gold-cost"></span>
                <span class="inventory-item-coin-cost">{{item.count}}</span>
                <div class="overlay"></div>
              </div>
              <div class="inventory-cell col-xl-2 col-12"
                (click)="openAddRewardItemDialog(addRewardItemDialog, dFullReward)"
                *ngFor="let item of dFullReward.emptyItems">
                <div class="overlay"></div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="tab-content">
        <h3>Ежедневная награда</h3>
        <hr />
        <div class="tab-pane fade show in active">
          <div class="inventory-table">
            <div class="inventory-row row">
              <div class="inventory-cell col-xl-2 col-lg-6 col-12"
                [class.collected]="calendar.userCollectedRewards && calendar.userCollectedRewards[dailyReward.id - 1]"
                *ngFor="let item of dailyReward.items">
                <i class="inventory-item-help material-icons" (click)="removeReward(dailyReward, item)">
                  delete
                </i>
                <div class="inventory-item-image">
                  <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}">
                </div>
                <span class="inventory-item-gold-cost"></span>
                <span class="inventory-item-coin-cost">{{item.count}}</span>
                <div class="overlay"></div>
              </div>
              <div class="inventory-cell col-xl-2 col-lg-6 col-12"
                (click)="openAddRewardItemDialog(addRewardItemDialog, dailyReward)"
                *ngFor="let item of dailyReward.emptyItems">
                <div class="overlay"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #addItem let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Доступные предметы</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="inline-table col-12 text-white">
        <div class="pt-4">
          <div class="inventory-table">
            <div class="inventory-row row container-fluid">
              <div class="inventory-cell col-12 col-md-6 col-xl-2" *ngFor="let item of itemCollection.items"
                (click)="selectItemInCollection(addItemBox, item.item)">
                <div class="inventory-item main center-images ">
                  <i class="inventory-item-help material-icons d-none">
                    help_outline
                  </i>
                  <div class="inventory-item-image">
                    <img src="{{item.item.image}}" class="" title="{{item.item.name}}">
                  </div>
                  <span class="inventory-item-count"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn m-2 btn-outline-secondary" (click)="prev()">
              <<</button> <button class="btn m-2 btn-outline-secondary" *ngFor="let num of itemCollectionNumberButtons"
                ngClass="{{num.cls}}" (click)="goToPage(num.value)">{{num.value}}
            </button>

            <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addItemBox let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Добавление предмета {{selectedItem.item.name}} во вложение сообщения</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Количество</label>
        <input type="number" class="form-control" value="{{selectedItem.count}}" [(ngModel)]="selectedItem.count"
          autofocus>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c()" (click)="changeItemInCalendarCell()">
        Добавить
      </button>
      <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
    </div>
  </div>
</ng-template>

<ng-template #addRewardItemDialog let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Доступные предметы</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="inline-table col-12 text-white">
        <div class="pt-4">
          <div class="inventory-table">
            <div class="inventory-row row container-fluid">
              <div class="inventory-cell col-12 col-md-6 col-xl-2" *ngFor="let item of itemCollection.items"
                (click)="selectItemInCollection(addRewardItem, item.item)">
                <div class="inventory-item main center-images ">
                  <i class="inventory-item-help material-icons d-none">
                    help_outline
                  </i>
                  <div class="inventory-item-image">
                    <img src="{{item.item.image}}" class="" title="{{item.item.name}}">
                  </div>
                  <span class="inventory-item-count"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn m-2 btn-outline-secondary" (click)="prev()">
              <<</button> <button class="btn m-2 btn-outline-secondary" *ngFor="let num of itemCollectionNumberButtons"
                ngClass="{{num.cls}}" (click)="goToPage(num.value)">{{num.value}}
            </button>

            <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addRewardItem let-c="close" let-d="dismiss">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">Добавление предмета {{selectedItem.item.name}} во вложение сообщения</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Количество</label>
        <input type="number" class="form-control" value="{{selectedItem.count}}" [(ngModel)]="selectedItem.count"
          autofocus>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c()" (click)="addReward()">
        Добавить
      </button>
      <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
    </div>
  </div>
</ng-template>