<div class="container-fluid">
  <h3 class="text-left">История</h3>
  <table class="table text-left">
    <thead>
    <tr>
      <th scope="col" class="d-none d-sm-block">#</th>
      <th scope="col">Дата и время</th>
      <th scope="col" class="d-none d-sm-block">Источник</th>
      <th scope="col">Полученный предмет</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of displayHistory.history">
      <td class="d-none d-sm-block" scope="row">{{row.id}}</td>
      <td>{{row.date | date:'dd.MM.yyyy HH:mm:ss'}}</td>
      <td class="d-none d-sm-block">{{row.treasure_name}}</td>
      <td><img class="item-icon mr-2" src="{{row.imagePath}}">{{row.item}} x{{row.count}}</td>
    </tr>
    </tbody>
  </table>

  <button class="btn m-2 btn-outline-secondary" (click)="prev()"><<</button>

  <button class="btn m-2 btn-outline-secondary"
          *ngFor="let num of numberButtons"
          ngClass="{{num.cls}}"
          (click)="goToPage(num.value)">{{num.value}}
  </button>

  <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>

</div>
