<h3 class="text-center">Инвентарь</h3>
<div class="inventory-table">
  <div class="form-group">
    <hr/>
    <label class="inline-block col-12 col-lg-2">Фильтр: </label>
    <input type="text" class="inline-block form-control col-12 col-lg-9" placeholder="Введите имя предмета"
           value="" (change)="changeSearchString($event.target.value)">
    <hr/>
    <input type="button" class="inline-block col-3 btn btn-secondary mr-1 mt-1 col-12 col-xl-3" value="Отфильтровать" (click)="filterItems(1)">
    <input type="button" class="inline-block col-3 btn btn-secondary mr-1 mt-1 col-12 col-xl-3" value="Продать" (click)="openSellDialog(sell, selectedItem.item.id)" >
    <input type="button" class="inline-block col-3 btn btn-secondary col-12 mt-1 col-xl-3" value="Удалить" (click)="openSellDialog(delete, selectedItem.item.id)" >
    <hr/>
  </div>
  <div class="inventory-table" >
    <div class="inventory-row row">
      <div class="inventory-cell col-lg-2 col-uhd-1 col-6"
           [class.active]="(selectedItem !== undefined) && selectedItem.item.id==item.item.id"
           *ngFor="let item of inventory.items"  (click)="selectItem(item.item.id)">
        <i class="inventory-item-help material-icons d-none">
          help_outline
        </i>
        <span class="inventory-item-name">{{item.item.name}}</span>
        <div class="inventory-item-image">
          <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}" />
        </div>
        <span class="inventory-item-coin-cost" >{{item.count}}</span>
      </div>
      <div class="inventory-cell col-lg-2 col-uhd-1 col-6" *ngFor="let item of inventory.emptyItems">
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn m-2 btn-outline-secondary" (click)="prev()"><<</button>

    <button class="btn m-2 btn-outline-secondary"
            *ngFor="let num of numberButtons"
            ngClass="{{num.cls}}"
            (click)="goToPage(num.value)">{{num.value}}</button>

    <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
  </div>
</div>

<ng-template #sell let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Продать "{{selectedItem.item.name}}" x{{currSelectedItemCount}} за {{selectedItemCost}} {{selectedCurrency}}?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-light text-left">
    Продать за:
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="currencies">
      <label ngbButtonLabel class="btn btn-secondary" *ngIf="selectedItem.sellCost.coins > 0" [class.active]="selectedCurrency==='Монет'">
        <input ngbButton type="radio" (click)="setCurrency('coins')"> Монеты
      </label>
      <label ngbButtonLabel class="btn btn-secondary" *ngIf="selectedItem.sellCost.gold > 0" [class.active]="selectedCurrency==='Золота'">
        <input ngbButton type="radio" (click)="setCurrency('gold')"> Золото
      </label>

      <div class="form-group d-inline-flex mb-0 pl-5">
        <label for="inputlg" class="mb-0 pt-1">
          Количество:
        </label>
        <input class="ml-1 form-control" id="inputlg" max="100" min="1" type="number" (change)="changeCount($event.target.value)" [(ngModel)]="currSelectedItemCount" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark text-white" (click)="sellItem(selectedItem.item.id)">Продать</button>
    <button type="button" class="btn btn-outline-dark text-white" (click)="c()">Закрыть</button>
  </div>
</ng-template>

<ng-template #delete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Удалить "{{selectedItem.item.name}}" x{{selectedItem.count}}?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-light text-left">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark text-white" (click)="removeItem(selectedItem.item.id)">Удалить</button>
    <button type="button" class="btn btn-outline-dark text-white" (click)="c()">Закрыть</button>
  </div>
</ng-template>
