.inventory-table {
  padding-bottom: 25pt;
  margin: 0 auto;
  width: 90%;
  padding-right: 0;
  padding-left: 0;

  & .inventory-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: flex-start; /* align items in Cross Axis */
    align-content: flex-start; /* Extra space in Cross Axis */

    & .inventory-cell {
      height: 150pt;

      flex-shrink: 0;

      border: 1pt solid gray;
      display: flex;
      flex-direction: row;
      justify-content: center; /* align items in Main Axis */
      align-items: center; /* align items in Cross Axis */
      align-content: center; /* Extra space in Cross Axis */

      &.active {
        border: 3pt solid #7e9edc;
      }

      & .inventory-item-image img {
        width: 80pt;
      }

      & .inventory-item {
        width: 100pt;
        height: 100pt;
        position: relative;
      }

      & .inventory-item-image {
        margin-top: 5pt;
        text-align: center;
      }

      & .inventory-item-count {
        position: absolute;
        bottom: 0;
        right: 2pt;
      }

      & .inventory-item-help {
        position: absolute;
        top: 1pt;
        right: 0;
      }

      & .inventory-item-name {
        text-align: center;
        position: absolute;
        top: 0pt;
        width: 80%;
        height: 25%;
      }

      & .inventory-item-coin-cost {
        position: absolute;
        bottom: 0;
        right: 2pt;
        font-size: 20pt;
      }

      & .inventory-item-image {
        margin-top: -5pt;
      }

      & .inventory-item-image img {
        max-height: 100pt;
        max-width: 100pt;
        width: inherit;
      }
    }
  }

}

@media (max-width: 3839px) {
  [class^="inventory-"] .hidden-md {
    display: none !important;
  }
}

@media (min-width: 3840px) {
  [class^="inventory-"] .visible-uhd {
    display: flex !important;
  }

  [class^="inventory-"] .hidden-uhd {
    display: none !important;
  }
}

@media (max-width: 3839px) {
  [class^="inventory-"] .visible-uhd {
    display: none !important;
  }

  [class^="inventory-"] .hidden-uhd {
    display: flex !important;
  }
}

@media (min-width: 3840px) {
  [class^="inventory-"] .visible-uhd {
    display: flex !important;
  }

  [class^="inventory-"] .hidden-uhd {
    display: none !important;
  }
}

