.main-menu-icon {
  width: 24pt;
  position: relative;
  top: 2pt;
}

.no-text-decor, .no-text-decor:hover {
  text-decoration: none;
}

.unread-message-count {
  background: #b7b716;
  color: #860606;
  border-radius: 12pt;
  font-size: 12pt;
  padding: 1pt 7pt;
  position: relative;
  top: -2pt;
  left: 3pt;
}

.navbar-brand {
  font-size: 50pt;
  color: #4A638B !important;
}

.nav-item {
  border: 1pt solid;
  font-size: 18pt;
  padding: 18pt !important;
}

a.nav-item.active {
  color: #7e9edc !important;
}

.navbar-brand {
  font-size: 40pt;
}

.nav-item {
  font-size: 16pt;
  padding: 10pt !important;
}

.exit-icon {
  font-size: 43pt;
}

.user-avatar img {
  max-height: 50pt;
  max-width: 50pt;
}

.user-nick, .user-nick:hover {
  color: #A6997C;
  padding: 0 4pt;
  font-size: 16pt;
}

.short-tb {
  width: 40%;
  display: inline-table;
}

.custom-control-label::before,
.custom-control-label::after {
  top: .8rem;
  width: 1.25rem;
  height: 1.25rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #757575;
  background-color: #757575;
}

.modal.fade .modal-content {
  background-color: #555;
}

.modal.fade.in {
  opacity: 1;
}

.container {
  width: 80%;
  max-width: none;
}

.main {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

/*scroll*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6pt rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 3pt;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6pt rgba(0, 0, 0, .3);
  background-color: #555;
}

/*scroll*/

.modal-body {
  text-align: left;
}

.gold-icon {
  width: 10pt;
}

.coin-icon {
  width: 10pt;
}

@media (max-width: 3839px) {
  .visible-uhd {
    display: none !important;
  }

  .hidden-uhd {
    display: block !important;
  }
}

@media (min-width: 3840px) {
  .visible-uhd {
    display: block !important;
  }

  .hidden-uhd {
    display: none !important;
  }

  .offset-uhd-2 {
    margin-left: 16.666666666666664%;
  }

  .offset-uhd-4 {
    margin-left: calc(16.666666666666664 * 2%);
  }
}

.online-status {
  width: 20pt;
  height: 20pt;
  background: #268226;
  margin-right: 10pt;
  border-radius: 12pt;
  color: #26822682;
}

.online-status.yellow {
  background: #d6d343;
  color: #d6d343b0;
}

.online-status.gray {
  background: #929286;
  color: #929286;
}

.container table .material-icons {
  padding: 2pt;
}

.container table tr:first-child th .material-icons {
  padding: 0;
  top: 5pt;
  position: relative;
}

.custom-control-label {
  top: -7pt;
  left: 12pt;
}

#addItemBox .modal-dialog.modal-dialog-centered {
  max-width: 40%;
}

.modal-dialog.modal-dialog-centered {
  max-width: 60%;
}

.list-group li {
  background: #757575;
}

#addItem .inventory-table {
  max-height: 300pt;
  overflow-y: scroll;
  overflow-x: hidden;
}
