<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="admin/">{{logo}}</a>
  <a class="no-text-decor user-avatar" href="#"><img src="{{userInfo.avatarImage}}"></a>
  <a class="no-text-decor user-nick" href="#">{{userInfo.username}}</a>
  <div class="navbar-expand navbar-nav d-block d-xl-none">
    <div class="navbar-nav">
      <a class="nav-item nav-link no-border" href=# (click)="exitFromApp()">
        <i class="material-icons exit-icon">exit_to_app</i>
      </a>
    </div>
  </div>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [class.active]="active_page_url=='admin/users' || active_page_url=='admin'" href="admin/users">
        <i class="material-icons main-menu-icon">portrait</i> Пользователи
      </a>
      <a class="nav-item nav-link " [class.active]="active_page_url=='admin/lootboxes'" href="admin/lootboxes">
        <i class="material-icons main-menu-icon">casino</i> Лутбоксы
      </a>
      <a class="nav-item nav-link" [class.active]="active_page_url=='admin/mail'" href="admin/mail">
        <i class="material-icons main-menu-icon">mail</i> Почта <span *ngIf="unread_message_count > 0" class="unread-message-count">{{unread_message_count}}</span>
      </a>
      <a class="nav-item nav-link" [class.active]="active_page_url=='admin/calendar'" href="admin/calendar">
        <i class="material-icons main-menu-icon">calendar_today</i> Управление календарем
      </a>
      <a class="nav-item nav-link" [class.active]="active_page_url=='admin/shop'" href="admin/shop">
        <i class="material-icons main-menu-icon">store</i>Управление магазином
      </a>
      <a class="nav-item nav-link d-none" [class.active]="active_page_url=='admin/logs'" href="admin/logs">
        <i class="material-icons main-menu-icon">horizontal_split</i>Логи
      </a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav d-none d-xl-block">
    <div class="navbar-nav">
      <a class="nav-item nav-link no-border" href="#" (click)="exitFromApp()">
        <i class="material-icons exit-icon">exit_to_app</i>
      </a>
    </div>
  </div>
</nav>
