<div class="wrapper text-gray">
  <div class="tab-pane">
    <h3 class="ml-1">Магазин</h3>
    <div class="inventory-table" >
      <div class="inventory-row row p-3">
        <div class="inventory-cell col-lg-2 col-sm-4 col-uhd-1 col-12" (click)="openBuyDialog(buy, item.item.id)"  *ngFor="let item of shop.items">
          <i class="inventory-item-help material-icons d-none">
            help_outline
          </i>
          <span class="inventory-item-name">{{item.item.name}}</span>
          <div class="inventory-item-image">
            <img src="{{item.item.image}}" title="{{item.item.name}} x{{item.count}}" />
          </div>
          <span class="inventory-item-gold-cost" *ngIf="item.buyCost.gold > 0"><img class="gold-icon" src="../../../assets/items/gold.png"/>{{item.buyCost.gold}}</span>
          <span class="inventory-item-coin-cost" *ngIf="item.buyCost.coins > 0"><img class="coin-icon" src="../../../assets/items/coin.png"/>{{item.buyCost.coinsDisplay}}</span>
        </div>

        <div class="inventory-cell col-lg-2 col-sm-4 col-uhd-1 col-12" *ngFor="let item of shop.emptyItems">
        </div>

      </div>
    </div>
    <div class="text-center">
      <button class="btn m-2 btn-outline-secondary" (click)="prev()"><<</button>

      <button class="btn m-2 btn-outline-secondary"
              *ngFor="let num of numberButtons"
              ngClass="{{num.cls}}"
              (click)="goToPage(num.value)">{{num.value}}</button>

      <button class="btn m-2 btn-outline-secondary" (click)="next()">>></button>
    </div>
  </div>
</div>

<ng-template #buy let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Купить "{{selectedItem.item.name}}" x{{selectedItem.count}} за {{selectedItemCost}} {{selectedCurrency}}?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-light text-left">
    Купить за:
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="currencies">
      <label ngbButtonLabel class="btn btn-secondary" *ngIf="selectedItem.buyCost.coins > 0" [class.active]="selectedCurrency==='Монет'">
        <input ngbButton type="radio" (click)="setCurrency('coins')"> Монеты
      </label>
      <label ngbButtonLabel class="btn btn-secondary" *ngIf="selectedItem.buyCost.gold > 0" [class.active]="selectedCurrency==='Золота'">
        <input ngbButton type="radio" (click)="setCurrency('gold')"> Золото
      </label>

      <div class="form-group d-inline-flex mb-0 pl-5" *ngIf="selectedItem.item.name != 'Монеты'">
        <label for="inputlg" class="mb-0 pt-1">
          Количество:
        </label>
        <input class="ml-1 form-control" id="inputlg" max="100" min="1" type="number" (change)="changeCount($event.target.value)" [(ngModel)]="selectedItem.count"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark text-white" (click)="buyItem(selectedItem.item.id)">Купить</button>
    <button type="button" class="btn btn-outline-dark text-white" (click)="c()">Закрыть</button>
  </div>
</ng-template>
