@import '../profile/profile.component.scss';
@import '../profile/inventory/inventory.component.scss';
@import '../../../../css/big-grid-bootstrap.min.css';

.wrapper {
  background-color: #343a40;
  -webkit-border-radius: 6pt;
  -moz-border-radius: 6pt;
  border-radius: 6pt;
  color: #ffffff80;
  margin-bottom: 100pt;
  padding-bottom: 1pt;
}

.inventory-table {
  .inventory-row {
    .inventory-cell {
      position: relative;
      width: 150pt;
      height: 150pt;
      text-align: center;

      & .inventory-item-name {
        position: absolute;
        top: 0pt;
        width: 80%;
        height: 25%;
      }

      & .inventory-item-gold-cost {
        position: absolute;
        bottom: 0;
        left: 2pt;
        font-size: 14pt;
        height: 25pt;
        padding: 1pt 0;
      }

      & .inventory-item-coin-cost {
        font-size: 14pt;
      }
    }
  }
}

.gold-icon {
  width: 30pt;
}

.coin-icon {
  width: 25pt;
}
