@import '../../../../variables.scss';

nav {
  /*&.bg-dark {
    background-color: #252122 !important;
  }*/

  a {
    max-height: $max-header-height;

    &.navbar-brand {
      font-size: 40pt;
      color: #4A638B;
    }

    &.nav-item {
      border: 1pt solid;
      font-size: 18pt;
      padding: 18pt;

      &.active {
        color: #7e9edc;
      }

      &.no-border {
        border: none;
      }

      & .unread-message-count {
        background: #b7b716;
        color: #860606;
        border-radius: 12pt;
        font-size: 12pt;
        padding: 1pt 7pt;
        position: relative;
        top: -2pt;
        left: 3pt;
      }

      & .exit-icon {
        font-size: 50pt;
      }

      & .main-menu-icon {
        width: 24pt;
        position: relative;
        top: 2pt;
      }
    }

    &.no-text-decor {
      text-decoration: none;
    }

    &.user-nick {
      color: #A6997C;
      padding: 0 8pt;
      font-size: 18pt;


      & .gold-icon {
        width: 10pt;
      }

      & .coin-icon {
        width: 10pt;
      }
    }

    &.user-avatar {
      //margin: 0 8pt;
      //border: 2pt solid #4e5c83;

      & img {
        max-height: 100pt;
        max-width: 100pt;
      }
    }
  }
}
@media (min-width: 3840px) {
  .text-udh-left {
    text-align: left !important;
  }
}
