<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand d-none d-xl-block col-1" href="user/">{{logo}}</a>
  <a class="no-text-decor user-avatar col-6 col-lg-1 border-0 m-0 p-0" href="user/profile"><img src="{{userInfo.avatarImage}}"></a>
  <a class="no-text-decor user-nick col-6 col-lg-1 text-right m-0 p-0 mr-lg-3 text-udh-left" href="user/profile" title="{{userInfo.xp}}">{{userInfo.username}}, {{userInfo.level}} [{{userInfo.percentOfNextLvl}}%]
    <br/>
    <span title="{{userCash.gold}}"><img class="gold-icon" src="../../../../assets/items/gold.png"> {{getDisplayCount(userCash.gold)}}</span>
    <span title="{{userCash.coins}}"><img class="coin-icon" src="../../../../assets/items/coin.png"> {{userCash.displayCoins}}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-expand navbar-nav d-block d-xl-none">
    <div class="navbar-nav">
      <a class="nav-item nav-link no-border" (click)="exitFromApp()">
        <i class="material-icons exit-icon">exit_to_app</i>
      </a>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [class.active]="active_page_url=='user/profile'" (click)="setActive('user/profile')" href="user/profile"><i class="material-icons main-menu-icon">portrait</i> Профиль</a>
      <a class="nav-item nav-link" [class.active]="active_page_url=='user/rating'" (click)="setActive('user/rating')" href="user/rating"><i class="material-icons main-menu-icon">stars</i> Рейтинг</a>
      <a class="nav-item nav-link" [class.active]="active_page_url=='user/calendar'" (click)="setActive('user/calendar')" href="user/calendar"><i class="material-icons main-menu-icon">calendar_today</i> Календарь</a>
      <a class="nav-item nav-link" [class.active]="active_page_url=='user/shop'" (click)="setActive('user/shop')" href="user/shop"><i class="material-icons main-menu-icon">shop</i> Магазин</a>
      <a class="nav-item nav-link" [class.active]="active_page_url=='user/mail'" (click)="setActive('user/mail')" href="user/mail"><i class="material-icons main-menu-icon">mail</i> Почта<span *ngIf="unread_message_count > 0" class="unread-message-count">{{unread_message_count}}</span></a>
      <a class="nav-item nav-link" [class.active]="active_page_url=='user/donate'" (click)="setActive('user/donate')" href="user/donate"><i class="material-icons main-menu-icon">attach_money</i> Взносы</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav d-none d-xl-block">
    <div class="navbar-nav">
      <a class="nav-item nav-link no-border" (click)="exitFromApp()">
        <i class="material-icons exit-icon">exit_to_app</i>
      </a>
    </div>
  </div>
</nav>



<!--<nav class="navbar navbar-dark bg-dark mb-5">-->
  <!--<a class="navbar-brand d-none d-xl-block" href="user/">{{logo}}</a>-->
  <!--<a class="no-text-decor user-avatar" href="user/profile"><img src="{{userInfo.avatarImage}}"></a>-->
  <!--<a class="no-text-decor user-nick" href="user/profile" title="{{userInfo.xp}}">{{userInfo.username}}, {{userInfo.level}} [{{userInfo.percentOfNextLvl}}%]-->
    <!--<br/>-->
    <!--<img class="gold-icon" src="../../../../assets/items/gold.png"> {{userCash.gold}}-->
    <!--<span title="{{userCash.coins}}"><img class="coin-icon" src="../../../../assets/items/coin.png"> {{userCash.displayCoins}}</span>-->
  <!--</a>-->
  <!--<button class="navbar-toggler d-block d-xl-none" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <!--<div class="navbar-expand navbar-nav d-block d-xl-none">-->
    <!--<div class="navbar-nav">-->
      <!--<a class="nav-item nav-link no-border" (click)="exitFromApp()">-->
        <!--<i class="material-icons exit-icon">exit_to_app</i>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="collapse navbar-collapse " id="navbar">-->
    <!--<div class="navbar-expand-xl mr-auto">-->
      <!--<div class="navbar-nav">-->
        <!--<a class="nav-item nav-link" [class.active]="active_page_url=='user/profile'" (click)="setActive('user/profile')" href="user/profile"><i class="material-icons main-menu-icon">portrait</i> Профиль</a>-->
        <!--<a class="nav-item nav-link" [class.active]="active_page_url=='user/rating'" (click)="setActive('user/rating')" href="user/rating"><i class="material-icons main-menu-icon">stars</i> Рейтинг</a>-->
        <!--<a class="nav-item nav-link" [class.active]="active_page_url=='user/calendar'" (click)="setActive('user/calendar')" href="user/calendar"><i class="material-icons main-menu-icon">calendar_today</i> Календарь</a>-->
        <!--<a class="nav-item nav-link" [class.active]="active_page_url=='user/shop'" (click)="setActive('user/shop')" href="user/shop"><i class="material-icons main-menu-icon">shop</i> Магазин</a>-->
        <!--<a class="nav-item nav-link" [class.active]="active_page_url=='user/mail'" (click)="setActive('user/mail')" href="user/mail"><i class="material-icons main-menu-icon">mail</i> Почта<span *ngIf="unread_message_count > 0" class="unread-message-count">{{unread_message_count}}</span></a>-->
        <!--<a class="nav-item nav-link" [class.active]="active_page_url=='user/donate'" (click)="setActive('user/donate')" href="user/donate"><i class="material-icons main-menu-icon">attach_money</i> Взносы</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="navbar-expand ml-auto navbar-nav d-none d-xl-block">-->
    <!--<div class="navbar-nav">-->
      <!--<a class="nav-item nav-link no-border" (click)="exitFromApp()">-->
        <!--<i class="material-icons exit-icon">exit_to_app</i>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
