<div class="wrapper p-b-2 text-gray">
  <ul class="nav nav-tabs ">
    <li class=""><a data-toggle="tab" href="#info" class="nav-link  no-text-decor">Информация</a></li>
    <li class=""><a data-toggle="tab" href="#history" class="nav-link  no-text-decor">История</a></li>
    <li class=""><a data-toggle="tab" href="#inventory" class="nav-link active no-text-decor">Инвентарь</a></li>
    <li class=""><a data-toggle="tab" href="#collection" class="nav-link no-text-decor">Коллекция</a></li>
  </ul>

  <div class="tab-content">
    <div id="info" class="tab-pane fade show  pt-2">
      <app-profile-info></app-profile-info>
    </div>
    <div id="history" class="tab-pane fade show  pt-2">
      <app-profile-history></app-profile-history>
    </div>
    <div id="inventory" class="tab-pane fade active show pt-2">
      <app-profile-inventory></app-profile-inventory>
    </div>
    <div id="collection" class="tab-pane fade show pt-2">
      <app-profile-collection></app-profile-collection>
    </div>
  </div>
</div>
