.nav-tabs li {
  padding: 8pt;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e64a;
}

.nav-tabs a.active {
  border: 1px solid #dee2e64a;
  border-bottom: none;
}

.nav-tabs li a {
  color: #ffffff80;
  background-color: transparent;
}

.wrapper {
  background-color: #343a40;
  -webkit-border-radius: 6pt;
  -moz-border-radius: 6pt;
  border-radius: 6pt;
  color: #ffffff80;
  margin-bottom: 100pt;
  padding-bottom: 1pt;
}

#history {
  text-align: center;
}

.inventory-cell.active {
  border: 3pt solid #7e9edc;
}

@media (min-width: 3840px) {
  #info {
    width: 50%;
    font-size: 18pt;
  }
}

