<h3 class="pl-3">Коллекция</h3>
<div class="collection col-12 container-fluid">
  <div class="character-card col-lg-6 col-12 col-xl-3 col-uhd-2" *ngFor="let character of characters"
       [class.not-active]="character.starCount === 0 && character.fragmentCount == 0"
       [style.border]="getBorderStyle(character.starCount)"
  title="{{getDescription(character)}}"
  >
    <div class="card-name">{{character.name}}</div>
    <div class="card-img" [style.background-image]="getSanitizingImage(character.image)"></div>
    <div class="card-stars">

      <span class="fa fa-star fa-2x" [class.checked]="character.starCount >= 1"></span>
      <span class="fa fa-star fa-2x" [class.checked]="character.starCount >= 2"></span>
      <span class="fa fa-star fa-2x" [class.checked]="character.starCount >= 3"></span>
      <span class="fa fa-star fa-2x" [class.checked]="character.starCount >= 4"></span>
      <span class="fa fa-star fa-2x" [class.checked]="character.starCount >= 5"></span>
    </div>
    <div class="card-fragments">{{character.fragmentCount}} {{getNextStarNeedFragments(character.starCount)}}</div>
    <div class="overlay"></div>
  </div>
</div>
