.collection {
  height: 100%;
  padding-bottom: 10pt;
}
.collection * {
  display: inline-block;
}

.character-card:first-child {
  border: 1pt solid gray;
}

.character-card {
  //margin: 0 -2pt;
  border: 1pt solid gray;
  border-left: none;
  position: relative;
  text-align: center;
}

.card-name {

}

.card-img {
  width: 90%;
  height: 180pt;
  margin: 5% 5% 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-stars {
  width: 150pt;
}

.card-fragments {
  width: 100%;
  text-align: right;
}

.overlay {
  background: #8080807a;
  width: 100%;
  height: 100%;
  right: 0pt;
  top: 0pt;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.character-card.not-active .overlay {
  opacity: 2;
  z-index: 2;
}

@media (min-width: 3840px) {
  .card-stars {
    margin: 0 30%;
  }

  .collection {
    height: -moz-available;
    height: -webkit-fill-available;
  }
}

.checked {
  color: orange;
}
