@import "~bootstrap/scss/bootstrap";
@import '/variables.scss';
@import "~bootstrap/scss/variables";
@import "~ngx-toastr/toastr.css";
@import "~ngx-toastr/toastr-bs4-alert.scss";
@import '../node_modules/font-awesome/scss/font-awesome';

body {
  background-image: url('./assets/gory_art_temnyj_cycled.png');
  background-position: top left;;
  // color: #b77a31;
}

/*scroll*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6pt rgba(0, 0, 0, 0.3);
  background-color: #cccccc;
}

::-webkit-scrollbar {
  width: 3pt;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6pt rgba(0, 0, 0, .3);
  background-color: #555;
}

/*scroll*/

.container {
  padding: 0;
  width: 80%;
  max-width: none;
}

.modal.fade .modal-content {
  background-color: #555;
}

.modal-dialog.modal-dialog-centered {
  width: 60%;
  max-width: none;
}

.modal-body {
  text-align: center;
}

.modal-header {
  border-bottom: 1pt solid gray;
}

.modal-footer {
  border-top: 1pt solid gray;
}

.modal-dialog {
  width: 60%;
  max-width: none;
}

.inline-block {
  display: inline-block;
}

#toast-container {
  & > div {
    opacity: 1;
  }

  & .toast-error {
    background-color: #cc535f;
  }

  & .toast-success, & .toast-warning, & .toast-info {
    color: #343a40;
  }
}

.nav-link {
  cursor: pointer;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #757575;
  background-color: #757575;
}

.modal {
  overflow-y: scroll;
}

input[type="text"], input[type="number"], select {
  background: #fbfbfb !important;
}

.text-gray {
  color: #aaa
}
