$fa-font-path : '../node_modules/font-awesome/fonts';

/*$dark: red !default;*/

$max-header-height: 200pt;

/*$theme-dark-color: #343a40;
$theme-logo-color: #4A638B;
$theme-nick-color: #A6997C;
$theme-link-color: rgba(255, 255, 255, 0.5);*/
